[2020-05-17 05:01] NovaMachina opened #1 "Witch Water contact transformations"

[2020-05-18 02:58] NovaMachina opened #2 "Add Recipes"

[2020-05-18 02:59] NovaMachina opened #3 "Add Dolls"
- [x] Blaze
- [x] Enderman
- [x] Shulker
- [x] Guardian

[2020-05-18 02:59] NovaMachina opened #4 "Add infested leaves"
- [x] Block
- [x] Tile Entity

[2020-05-18 02:59] NovaMachina opened #5 "Add Crucible"
- [x] Block
  - [x] Variants
- [x] Tile Entity
- [x] Rock to lava

[2020-05-18 02:59] NovaMachina opened #6 "Add Barrel"
- [x] Block
- [x] Tile Entity
- [x] Collect rain water
- [x] Organics to dirt
- [x] Witch water creation
- [x] Witch water mob spawning

[2020-05-21 04:48] NovaMachina commented on #4
Commit 206266f closes feature.

[2020-05-21 04:48] #4 closed

[2020-07-02 00:39] #5 closed

[2020-08-02 02:01] #6 closed

[2020-08-02 02:01] #3 closed

[2020-08-02 04:31] #2 closed

[2020-08-03 23:03] NovaMachina opened #8 "Add Block Drops"
Currently, when mod blocks are broken, they don't drop themselves and their contents is voided.

[2020-08-04 02:17] #8 closed

[2020-08-05 03:06] NovaMachina opened #10 "Data Pack vs Json Registry"

[2020-08-05 15:12] CreatorVilius opened #11 "Couple of the bugs I noticed"
Saplings in wooden crucible have sapling texture, not leave texture.
Saplings in wooden crucible never turn into water.
You can't use
- sand on flint and iron meshes
- dust on flint meshes
- soul sand on iron mesh
- can't use crushed andesite, diorite, granite and endstone on any mesh
- crushed netherrack on string mesh
You can't get bone meal from sieving dust.
No way to know when saplings are go

[2020-08-05 15:17] IdkGoodName opened #12 "Emerald Mesh"
Older Ex Nihilo didn't seem to add this, but what about **emerald mesh**? Emerald mesh would be basically higher tier than diamond one.

[2020-08-05 15:22] IdkGoodName opened #13 "JEI integration"
**Is your feature request related to a problem? Please describe.**
Can't really check what recipes already exist.

**Describe the solution you'd like**
JEI integration. Would show all output of sieves, barrel recipes, crucible recipes.

**Describe alternatives you've considered**
Perhaps recipe book for sieves... But JEI integration would be way better.

[2020-08-05 17:51] CreatorVilius opened #14 "Game crashes when loading up Ex Nihilo: Sequentia with Garden of Glass world type"
**Describe the bug**
Game crashes with `ConcurrentModificationException` while creating a new world(Botania Garden of Glass). Reading the error's stack trace, it seems that something is going on with barrel with fluid on top recipe.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Minecraft
2. Create 'Garden of Glass' world
3. Wait

**Expected behavior**
Launch normally.

**Screenshots

[2020-08-05 21:08] Ciberbago opened #15 "Please add some kind of automation"
Hello, I really appreciate your work porting this mod to 1.15.2.

Something I'd really love to have is some kind of automation, I don't know if something like Electric Auto Sieves powered by RF or FE is something hard to do.
But if it's easier... maybe adding functionality to hoppers could do the trick.
How? In vanilla you can use hoppers to pump organic materials into composters to make bone meal

[2020-08-05 21:25] NovaMachina commented on #11
* The crucible pulls the texture from the item in it. However, I can switch it to a leaf texture.
* In my testing, saplings do turn into water. Four saplings are equivalent to a bucket of water.
* Currently blocks cannot be on meshes that they don't have results for. Also, crushed andesite, diorite, granite, and end stone don't have any results (see the [sieve wiki](https://github.com/NovaMachina/

[2020-08-05 21:44] NovaMachina commented on #14
Does this error occur only when you reopen a world?

[2020-08-06 08:19] CreatorVilius commented on #14
Nope. Only when creating.

[2020-08-06 08:22] CreatorVilius commented on #11
I dunno. When I tried to test, it didn't do anything. Does it need anything special? Like torch beneath it?

Yeah, I have particles off.

[2020-08-06 08:34] CreatorVilius commented on #11
Yeah, putting torch works. Thought you didn't torches for wooden crucible.

[2020-08-06 18:06] NovaMachina commented on #11
Here are the default [heat sources](https://github.com/NovaMachina/ExNihiloSequentia/wiki/Crucible#heat-sources).

[2020-08-06 18:06] #11 closed

[2020-08-06 20:04] #14 closed

[2020-08-06 20:04] NovaMachina commented on #14
Fixed in 1.1.0.0 update

[2020-08-07 14:53] Kaylinofhr opened #16 "Bucket disappears when placing water in barrel"
**Describe the bug**
While making clay with the wooden barrel, my bucket disappears when right clicking water on the barrel.

**To Reproduce**
Steps to reproduce the behavior:
1. Place barrel.
2. Right click bucket on water.
3. Right click full bucket on barrel.
4. End up with a barrel full of water and no bucket.

**Expected behavior**
I think I'm supposed to keep the bucket.

**Version**
Minecra

[2020-08-07 15:13] NovaMachina commented on #16
Fixed in 1.1.0.2

[2020-08-07 15:13] #16 closed

[2020-08-07 19:14] PercyCreeper opened #17 "Will the mod support the Create mod?"
I have already seen the suggestion about JEI and also the one about automation, but if you do the automation, could you make it support the Create mod? I don´t know how difficult it would be, but it would be very cool if you managed to do it.

[2020-08-07 19:19] PercyCreeper opened #18 "A roadmap on what you already plan to do"
The original Ex Nihilo mod had many stuff, and a roadmap of features from the original mod you are planning to add would be cool, so suggestions aren´t like: "Why aren´t there compressed blocks?" :P

[2020-08-07 19:23] #18 closed

[2020-08-09 00:13] BedrockLegends commented on #15
The only issues I see with this is that People like to leave stuff like this on 24-7 and cause alot of lag, I think there has to be away someway to make sure that not only The Electric Auto Sieves but the default sieves dont lag as players dont understand what a kill switch is

[2020-08-09 00:16] BedrockLegends opened #19 "Tag support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I would like to suggest that this mod takes full advantage of the Tag system forge and Minecraft have in place. This would allowed Your mod to

[2020-08-09 00:19] NovaMachina commented on #19
The mod does support the Tag system. See the [wiki](https://ex-nihilo-sequentia.readthedocs.io/en/latest/). The configuration section of each "machine" contains instructions on how to configure drops an whether it supports tags.

[2020-08-09 00:19] #19 closed

[2020-08-09 00:25] BedrockLegends opened #20 "Barrels and Sieves out of different Woods"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I would like to see Barrels and Sieves made out of different types of wood, then just the Oak one

[2020-08-09 01:14] BedrockLegends opened #21 "Allow Jsons to be reloaded in game with /reload"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I would like to suggest that when you use the /reload command that it will reload the jsons file for ex nihilo

[2020-08-09 01:48] BedrockLegends opened #22 "Crash using Tags in Json"
**Describe the bug**
A clear and concise description of what the bug is.
as soon as I launched with using a tag inside one of the Json, it crashed me to desktop

**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

example

[
  {
    "entry": "tag:minecraft:leaves",
    "fluid": "minecraft:water",
    "amount": 250
  }
]
ins

[2020-08-09 01:52] NovaMachina commented on #22
The Minecraft tag for leaves is "minecraft:leaves".

See the [Minecraft Wiki](https://minecraft.gamepedia.com/Tag).

[2020-08-09 04:18] BedrockLegends opened #23 "The One Probe support"
Reason I request this feature is not everyone uses WAILA/HWYLA

[2020-08-09 12:04] CreatorVilius commented on #20
I guess like og Ex Nihilo did.

[2020-08-09 16:41] trestmen opened #24 "Crash on server load"
Encountered an unexpected exception
net.minecraftforge.fml.LoadingFailedException: Loading errors encountered: [
        Ex Nihilo: Sequentia (exnihilosequentia) has failed to load correctly
?7java.lang.IllegalAccessError: no such method: com.novamachina.exnihilosequentia.client.setup.ClientSetup.init(FMLClientSetupEvent)void/invokeStatic
]
        at net.minecraftforge.fml.ModLoader.dispatchAndHa

[2020-08-10 20:31] #24 closed

[2020-08-24 21:20] #22 closed

[2020-08-24 21:20] #23 closed

[2020-08-24 21:20] #13 closed

[2020-08-25 14:21] PercyCreeper opened #25 "Ore Chunk and Piece Items are in every Tab"
Basically what the title says, the ore chunk and piece items are found in every tab, probably not intendet :)

[2020-08-25 14:51] NovaMachina commented on #25
Fixed in 1.2.0.1

[2020-08-25 14:51] #25 closed

[2020-08-25 22:57] BedrockLegends opened #26 "[1.16.2] Mod Support for the following"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Hi, I was wondering if you could add mod support for the following mods as they update to 1.16.2.

Ae2, Refined Storage, mekanism, Rftools, I

[2020-08-25 23:26] NovaMachina commented on #26
What exactly are you wanting support for from these mods? Are there any ores or resources that cannot be added via the Json registries?

[2020-08-25 23:40] BedrockLegends commented on #26
Well yes some of those mods I did list have ores and such, but I figured the ones with the ores and such could have ore chunks for them like other mods that you have supported so far

[2020-09-02 00:38] papaworld opened #27 "Low Tier Hopper"
Feature: Create a hopper made from wood similar to 1.12.2 Tinker's Construct. 1 slot for 1 stack... slower than MC Iron Hopper. For 1.15.2 and 1.16.x

Delighted to see Ex Nihilo back on forge! Thank You!

[2020-09-02 00:41] NovaMachina commented on #17
In theory it should be able to support the Create mod. I don't see why it wouldn't, unless the Create mod doesn't use the capability system to interact with objects.

[2020-09-02 00:42] NovaMachina commented on #15
I'm considering making a second mod to add automation for Ex Nihilo. However, if Ex Compressium is going to update, then I see no need for me to add it.

[2020-09-02 07:07] Blackout03 commented on #20
this

[2020-09-02 12:05] PercyCreeper commented on #17
Well, I don´t know how it works, but if it works, great :) I think the steampunk style of the Create mod would fit with ex nihilo

[2020-09-03 06:00] BedrockLegends commented on #26
Thermal Expansion and The other Thermal mods when they come out and I know this might be a dumb suggestion, but could u look at adding support for Extended Crafting to have ore chunks

[2020-09-06 13:10] PercyCreeper opened #29 "Ore Chunk support for the Create Mod?"
Could you add the Ore support for the Create mod too? Because when I look with JEI you can theoratically craft/smelt Copper/Zinc from the chunks, but these aren´t available via the sieves nor they are in the creative inventory or JEI list. I guess the Create mod made ores different :/

[2020-09-08 16:20] NovaMachina commented on #15
It would appear that Ex Compressium is doing an update to 1.16.x
https://github.com/blay09/ExCompressum/tree/1.16.x

[2020-09-08 16:20] #15 closed

[2020-09-08 21:16] NovaMachina commented on #17
I'm going to go ahead and close this suggestion as the other suggestion covers the compatibility needed.

[2020-09-08 21:16] #17 closed

[2020-09-09 15:37] NovaMachina commented on #29
Added for the next update

[2020-09-09 15:37] #29 closed, assigned to NovaMachina

[2020-09-09 15:37] NovaMachina commented on #26
Added for the next update.

[2020-09-09 15:37] #26 closed

[2020-09-12 20:12] NovaMachina commented on #21
Added a specific command to reload registries. Allows the individual reload of a registry rather than all at once (although there is a command to reload all at once.

[2020-09-12 20:12] #21 closed

[2020-09-21 14:21] fistidgious opened #30 "wood crucible does not convert leaves or saplings to water latest build of minecraft forge and exnihiliosequentia"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Minecraft Version: 1.1

[2020-09-21 15:09] NovaMachina commented on #30
Which version? 1.15 or 1.16?

[2020-09-23 08:21] ToMe25 commented on #20
I, too, support this suggestion.

While on the topic of different wood types support i would also like to suggest Wooden Crucibles made from different wood types, like the Ex Nihilo Omnia ones.

Also while the original Ex Nihilo seems to have had barrels and sieves made from different wood types,
neither did Ex Nihilo Adscensio, nor Ex Nihilo Creatio for forge on which Ex Nihilo Sequentia is based

[2020-09-26 00:50] NovaMachina commented on #30
According to my testing, all the latest versions of the mod and forge work as intended.

[2020-09-26 00:50] #30 closed, assigned to NovaMachina

[2020-09-28 12:08] fistidgious opened #31 "started a new void world with no script just this mod and imersive engineer had the compatibility on in config for imersive ores in sieve played for approx 72 hrs worked up to diamnod mesh had no output of imersive ores."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Minecraft Version: 1.1

[2020-09-28 12:10] fistidgious commented on #30
not sure what has changed but crucible is now giving water so no fix required think it may have been a mod conflict thanx for help

[2020-09-28 12:12] fistidgious commented on #31
started a flat world with no grass dirt or bedrock so no ore spawn available and no villages spawning have immersive engineering  also worked up to dimond mesh but getting no ores from sieve for imersive engineering have config set to true for compatibilty for this mod

Forge 34.1.0 , minecraft 1.16.3, gravestone mod 1.16.3-1.0.1, imersive engineering 1.16.3-4.0.1-121, ex nihilio sequentia 1.16- 1

[2020-09-28 15:06] NovaMachina commented on #31
I know what the issue is, but are you at least getting other ores?

[2020-09-28 15:38] #31 closed, assigned to NovaMachina

[2020-10-02 07:45] ToMe25 commented on #12
If this gets added a gold mesh might also make sense.

They could be like Iron and Diamond with more luck, meaning they can get the same resources, but more of them.

[2020-10-02 08:47] ToMe25 opened #32 "Placing item in barrel consumes the item in creative mode"
**Describe the bug**
When putting an item in a barrel with a fluid(right click) this item gets removed from the player inventory, even if the player is in creative mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Place a Stone Barrel
2. Fill it with Lava
3. Right click barrel with redstone
4. See missing redstone in inv

**Expected behavior**
In creative mods items don't get consumed wh

[2020-10-02 09:22] ToMe25 opened #33 "Re add Applied Energistics integration"
## Is your feature request related to a problem? Please describe.
The original Ex Nihilo, Ex Nihilo Omnia, and i think also Ex Nihilo Creatio had Applied Energistics 2 integration allowing the creation of Certus Quarts and Sky Stone.

## Describe the solution you'd like
### The integration i would suggest is closer to the original Ex Nihilo integration, it is:
### Sieve:
|Input|Mesh|Output|Chance|

[2020-10-02 10:15] ToMe25 opened #34 "Glass and Colored Glass Barrels"
**Is your feature request related to a problem? Please describe.**
I don't think its related to an issue.

**Describe the solution you'd like**
I would like to be able to make Glass and Colored Glass Barrels, like in Ex Nihilo: Omnia, because they look nice.

**Additional context**
I don't think Ex Nihilo: Creatio has Glass or Colored Glass Barrels.

[AB#70](https://dev.azure.com/novamachina/9b437

[2020-10-03 09:40] G-Stav opened #35 "Wrong output sieve registry"
**Describe the bug**
Sieve registry gives wrong output with red sand.

**To Reproduce**
  {
    "input": "minecraft:sand",
    "result": "notreepunching:sandstone_loose_rock",
    "rarity": 0.5,
    "mesh": "STRING",
    "isWaterlogged": false
  },
  {
    "input": "minecraft:red_sand",
    "result": "notreepunching:red_sandstone_loose_rock",
    "rarity": 0.5,
    "mesh": "STRING",
    "isWaterlo

[2020-10-03 10:21] G-Stav commented on #35
I think this may have to do with tags. Since sand and redsand both have the tag minecraft:sand. Tried using the tag forge:sand/colorless in place of minecraft:sand but now it instead outputs nothing, and the red sand recipe does work.

[2020-10-03 15:34] NovaMachina commented on #35
Can you include a log report? This will tell what the issue is, but I believe you are right.

[2020-10-03 18:58] G-Stav commented on #35
Like a debug crash log? https://pastebin.com/C5ECw94g here you go in that case.
I'm sorry if you mean something else. Not very knowledgeable about these things.

[2020-10-03 19:01] NovaMachina commented on #35
You're all good. You're on the right track. Minecraft keeps a log of the game even when it is working correctly. After running a game that is working, go to the Minecraft folder and there is a log folder inside of it. There should be one called "latest". That would be the one I would like to see.

[2020-10-03 19:05] G-Stav commented on #35
https://pastebin.com/fLKPJGMx Here you go! I think. Using the twitch launcher but this is from latest.log in the modpack folder in the instances folder.

[2020-10-03 19:06] NovaMachina commented on #35
Perfect! I'm not seeing a warning about bad JSON files, do you have the config option "useJson" set to true?

[2020-10-03 19:10] G-Stav commented on #35
"#Registry Configs
[registry]
	#Should use JSON registries. Will generate JSON files if they do not exist. (Default: false)
	useJson = true"

Yep. Although on a side note, I just realized that silver pieces and chunks aren't showing up in JEI despite Immersive Engineering ores are enabled. (It does appear in uses however, ie furnace smelting it into ingots etc)

"	#Should Immersive Engineering ore

[2020-10-03 19:11] NovaMachina commented on #35
OK, I will have to do some digging into this one to figure out what's going on.

[2020-10-03 19:14] G-Stav commented on #35
If there's anything else I can do to help please let me know! I was planing on doing a whole lot more work on the pack before I uploaded an alpha to curse, but if it would help I'd gladly upload it now as is.

[2020-10-13 20:25] Omnimetatron opened #36 "Add support for Silent's Mechanism Ores"
**Is your feature request related to a problem? Please describe.**
Not a problem as such, more a lack of compatabilty.

**Describe the solution you'd like**
For the mod to detect the presence of Silent's Mechanisms and generate the ore pieces (tin, copper, zinc, silver, lead, etc.)

**Describe alternatives you've considered**
datapack driven sieve recipes

**Additional context**
Nothing to add

[2020-10-18 06:53] G-Stav opened #37 "Hammer "silktouches" blocks"
**Describe the bug**
Using the hammer on a block that isn't in the HammerRegistry gives a silktouched version. Such as coal ore doesn't drop coal, grass blacks don't drop coal.

**To Reproduce**
Pretty much says it up top.

**Expected behavior**
Expect it to act like an open hand or pickaxe without silk touch.

**Screenshots**

**Version**
Minecraft Version: 1.16.3
Forge Version: 34.1.23
Ex Nihilo

[2020-10-18 23:10] BedrockLegends opened #38 "SieveRegistry issue"
**Describe the bug**
A clear and concise description of what the bug is.
When I added two things to the Sieve Registry, it showed up under a different mesh then what I had set it to. Example in image below

![2020-10-18_18 08 14](https://user-images.githubusercontent.com/48525410/96388229-2d0f0a80-116d-11eb-92ff-415ccd3adb42.png)
  {
    "input": "minecraft:gravel",
    "result": "ars_nouveau:mana

[2020-10-18 23:29] NovaMachina commented on #38
That's happening because you have the config flattenSieveRecipes set to true. JEI will show all the meshes that it can be produced from. Can you confirm that it doesn't show on flint or sting meshes? If this is the case, and it is only showing up on iron and diamond meshes, then this is the intended behavior.

[2020-10-19 00:53] BedrockLegends commented on #38
Fixed disabled  flattenSieveRecipes

[2020-10-19 00:53] #38 closed, assigned to NovaMachina

[2020-10-24 00:12] BedrockLegends commented on #33
I agree with this

[2020-10-24 06:52] ToMe25 commented on #33
You agree with what?
That ExNihiloSequentia should have AE2 integration?
That it should be more or less like the first integration that i suggested?
Or with the second integration i suggested, which i personally consider less fitting?

[2020-10-25 05:25] benbenlaw opened #39 "Barrels and hoppers"
**Describe the bug**
Hopping into barrels does not work correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Place barrel
2. Place hopper on top
3. Put saplings in hopper
4. Doesn't work the same as a right click

**Expected behavior**
Saplings should turn into dirt but won't this way

**Version**
Minecraft Version: 1.16.3
Forge Version: 31.1.61
Ex Nihilo: lastest

[2020-10-28 03:51] BedrockLegends commented on #33
Hopefully @NovaMachina consider adding this to the mod

[2020-10-28 03:53] NovaMachina commented on #33
@BedrockLegends I am currently working on a few other updates, and I am currently in school as well. I will get around to this soon.

[2020-11-04 11:00] Blackout03 commented on #12
Maybe Netherite instead of emerald. But that would only be 1.16.

Gold could be the same resources as Iron but sifts faster.

[2020-11-04 11:05] Blackout03 commented on #27
Whenever tinkers construct updates it will probably have it anyway

[2020-11-04 13:26] Aimli opened #41 "桶接上漏斗放树苗无法正常工作"
漏斗给桶加材料无法制造泥土

[2020-11-04 13:54] Irgendwer01 opened #42 "Support for Custom Meshes and add option for Mesh durability"
**Is your feature request related to a problem? Please describe.**
an problem for pack devs that want adding that.

**Describe the solution you'd like**
Adding support for adding Custom Meshes and an option for Mesh durability in the config to make that pack devs can configure the mod in their pack alot more.

[2020-11-04 13:56] Irgendwer01 commented on #41
@Aimli if possible, please write the issue in english.

[2020-11-04 23:14] Blackout03 commented on #41
Google translate shows this
"Adding materials to the bucket by the funnel cannot make dirt"
Which I presume would be
"Adding materials to the barrel by a hopper cannot make dirt"

[2020-11-04 23:53] NovaMachina commented on #41
If this is the case then it is connected to #39.

[2020-11-05 01:14] yzl210 commented on #41
yes, it's correct

[2020-11-06 14:09] Valdan20 opened #43 "Sieve Recipes Server not Showing"
In Singleplayer World is see in jei the recipes for how to create for example gravel with the hammer or what item it get out of the sieve. On Multiplayer only the crafting Recipes are Showing in Jei, but i can use it.

**Expected behavior**
See all Recipes on a Server in Jei

**Screenshots**
![2020-11-06_15 05 12](https://user-images.githubusercontent.com/48634337/98375139-047a8200-2042-11eb-8c68-

[2020-11-06 17:01] IdkGoodName commented on #12
I mean, you could make emerald mesh which is higher than diamond in tiers and netherite mesh which would be higher than emerald mesh in tiers.

[2020-11-06 18:30] NovaMachina commented on #12
Once I get transitioned to using datapacks this will be a lot easier to implement.

[2020-11-08 13:08] Algester opened #44 "can't make soul sand in a barrel full of witch water if the barrel is fed with a hopper"
**Describe the bug**
Using hoppers on barrels to make soul sand just replaces the witchwater into sand

**To Reproduce**
Steps to reproduce the behavior:
1. place a barrel on top of mycelium
2. place a hopper connected to the barrel
3. place water and wait for it to transform into witch water
4. place sand in hopper
5. witch water just becomes sand and not soul sand

**Expected behavior**
Sand bec

[2020-11-08 15:22] Algester commented on #44
ok after further inspection it seems that automation in the new ex nihilo will need some "autoclickers"... not sure if this is intended consequence with new mechanics

[2020-11-08 15:52] NovaMachina commented on #44
It's not intended that hoppers will insert items to start the transformation process. However, the overwriting of the fluid is an issue.

[2020-11-09 04:02] Algester opened #45 "Barrel filled with witchwater? disappear from the world once broken"
**Describe the bug**
I'm not sure if it was meant for the witch water to "leak" into the world when you break the barrel but they just get erased by the world

**To Reproduce**
Steps to reproduce the behavior:
1. fill a barrel with witchwater
2. break the barrel with a pickaxe forexample

**Expected behavior**
Witchwater is known to do wacky stuff to the player maybe not yet fully implemented

**V

[2020-11-09 04:06] NovaMachina commented on #45
Does the barrel drop? Because if so, this is intended.

[2020-11-09 05:36] Algester commented on #45
nope

[2020-11-11 04:49] NovaMachina commented on #35
The next update should fix this problem entirely.

[2020-11-11 04:50] #10 closed

[2020-11-11 04:52] #32 closed, assigned to NovaMachina

[2020-11-11 04:52] #35 closed, assigned to NovaMachina

[2020-11-11 04:52] NovaMachina commented on #43
The next version should fix this issue.

[2020-11-11 04:52] #43 closed, assigned to NovaMachina

[2020-11-11 05:53] #39 closed, assigned to NovaMachina

[2020-11-11 05:53] NovaMachina commented on #41
Fixed in next version.

[2020-11-11 05:53] #41 closed, assigned to NovaMachina

[2020-11-11 05:58] NovaMachina commented on #44
Fixed in next update.

[2020-11-11 05:58] #44 closed, assigned to NovaMachina

[2020-11-11 06:01] NovaMachina commented on #37
Fixed in next update.

[2020-11-11 06:01] #37 closed, assigned to NovaMachina

[2020-11-11 06:21] NovaMachina commented on #45
Fixed in the next version.

[2020-11-11 06:21] #45 closed, assigned to NovaMachina

[2020-11-12 00:37] Algester commented on #27
There is already a 1.16 version of tinkers but highly alpha if you do like burning your worlds every so often it might be a good place to start

[2020-11-12 18:11] BedrockLegends commented on #33
Okay

[2020-11-13 23:44] remplerus opened #50 "Duplication Bug with CarryOn Mod"
**Describe the bug**
A clear and concise description of what the bug is.
If CarryOn is installed and you pickup a sieve with mesh, the sieve drops a mesh and if you place it again, the mesh shows no mesh. But if you break the sieve, another mesh drops.

**To Reproduce**
Steps to reproduce the behavior:
1. Place sieve with any mesh
2. Shift+Rightclick sieve
3. Place sieve
4. Break sieve
5. Result:

[2020-11-13 23:46] remplerus commented on #50
and if you want, you can add 1.16.4 tag in curseforge. just tested it with latest forge 1.16.4 and it "works" (the bug also happens there)

[2020-11-14 17:57] #12 closed

[2020-11-14 17:58] NovaMachina commented on #42
Unfortunately, due to how Minecraft has changed from 1.12, custom meshes are not possible. However, I was able to implement mesh durability.

[2020-11-14 17:58] #42 closed, assigned to NovaMachina

[2020-11-15 14:24] Meisterfuchs opened #52 "Let hammers drop item results."
**Is your feature request related to a problem? Please describe.**
Currently, the Hammer only supports Blocks as the result of a hammer recipe, items are not possible.

**Describe the solution you'd like**
In my opinion, the API should support items as drops from destroying blocks with a hammer.

**Describe alternatives you've considered**
N/A

**Additional context**
This came up on a Livestream o

[2020-11-15 14:29] Meisterfuchs commented on #52
And that is what I get for looking at the wrong branch, this is already done in the dev branch, so sorry for the annoyance.

[2020-11-15 14:29] #52 closed, assigned to NovaMachina

[2020-11-16 01:18] #36 closed, assigned to NovaMachina

[2020-11-16 01:19] NovaMachina commented on #33
I have added in the crushed skystone to the mod. I have also implemented datapack support, so all of these recipes can be added that way.

[2020-11-16 09:30] benbenlaw opened #53 "Crash"
**Describe the bug**
worlds not loading

**To Reproduce**
Install update try to open a world

**Expected behavior**
World opens

**Version**
Minecraft Version: 1.16.3
Forge Version: 31.1.42
Ex Nihilo: Sequentia Version: latest

[crash-2020-11-16_09.27.11-server.txt](https://github.com/NovaMachina/ExNihiloSequentia/files/5545309/crash-2020-11-16_09.27.11-server.txt)

[2020-11-16 09:48] cyberpunkbln commented on #53
Same Bug
MC 1.16.4
Forge 35.0.17
Mod Latest

[2020-11-16 14:37] NovaMachina commented on #53
According to the crash report that you submitted, this is not an Ex Nihilo issue, but rather a Cooking For Blockheads issue.

[2020-11-16 14:40] benbenlaw commented on #53
i removed that mod and it just changed to another mod that was crashing.  I downgraded ex nihilo and it worked as intended all i changed in my pack was updating ex nihilo

[2020-11-16 14:42] NovaMachina commented on #53
If you will enable the 'enableDebugLogging' config and then submit the debug.log file, I might be able to see what's going on.

[2020-11-16 14:45] benbenlaw commented on #53
Wheres debug logging?

[2020-11-16 14:49] remplerus commented on #53
exnihilosequentia-common.toml

[2020-11-16 14:51] benbenlaw commented on #53
and where is the debug file saved

[2020-11-16 14:54] benbenlaw commented on #53
[crash-2020-11-16_14.52.15-server.txt](https://github.com/NovaMachina/ExNihiloSequentia/files/5547052/crash-2020-11-16_14.52.15-server.txt)

[2020-11-16 14:54] benbenlaw commented on #53
[crash-2020-11-16_09.22.48-server.txt](https://github.com/NovaMachina/ExNihiloSequentia/files/5547054/crash-2020-11-16_09.22.48-server.txt)
without cooking for blockheads

[2020-11-16 14:57] NovaMachina commented on #53
If this is on the client you will have to add -Dforge.logging.mojang.level=debug as a JVM Argument and then the debug.log file will generate in the logs folder. If this is on the server, then the debug.log should generate by default.

[2020-11-16 15:00] benbenlaw commented on #53
![image](https://user-images.githubusercontent.com/42780877/99267903-6eeaa980-281c-11eb-926c-503fda72a729.png)
there on twitch?

[2020-11-16 15:03] NovaMachina commented on #53
From the Installations tab on Minecraft Launcher. You will click edit on a profile and then it will be under more options.

[2020-11-16 15:06] benbenlaw commented on #53
ok just booting it now

[2020-11-16 15:07] benbenlaw commented on #53
no debug log made

[2020-11-16 15:10] benbenlaw commented on #53
![image](https://user-images.githubusercontent.com/42780877/99269076-d523fc00-281d-11eb-850c-c4584a2c7028.png)

does it only genrerate if the world opens cause the work doies not open

[2020-11-16 15:13] NovaMachina commented on #53
No, it should generate regardless. It seems that this may be a Twitch issue with the JVM Arguments. I was able to duplicate a crash with the same error, so I am looking into it.

[2020-11-16 15:14] benbenlaw commented on #53
ok cool thanks

[2020-11-16 15:38] #53 closed, assigned to NovaMachina

[2020-11-16 15:43] NovaMachina commented on #53
This should now be fixed

[2020-11-17 02:14] DreaminBoi opened #54 "Integrated CraftTweaker Support"
**Is your feature request related to a problem? Please describe.**
Since the  new changes in the recent version, that remove the json registry function from the mod and changed it into the datapack , it sometimes a hassle to copy every datapack into every save folder, and yes there's a mod that allows you to use datapack without the need to copy it into every saves

**Describe the solution you'd l

[2020-11-18 03:54] Algester opened #55 "Sieves are unresponsive if it is on a server"
**Describe the bug**
sieves don't work even if the player right clicks on them if the world is loaded from a server

**To Reproduce**
Steps to reproduce the behavior:
1. start a forge server (34.1.42 as of this writing)
2. have ex nihilo
3. attempt to sieve
4. nothing happens

**Expected behavior**
the sieves should be able to do their job though

**Screenshots**
If applicable, add screenshots to

[2020-11-18 03:56] TwilightPSN opened #56 "Cannot smelt iron ore in furnace"
**Describe the bug**
Recipe for making iron ore to iron ingots in the furnace appears to be gone with this mod. Tested with the mod added and removed and when the mod is in my pack we cannot make iron ingots from ore.

**To Reproduce**
Steps to reproduce the behavior:
Place Furnace
Place Fuel and Iron Ore
Nothing Happens

**Expected behavior**
Iron ore smelts into ingots

**Version**
Minecraft Ver

[2020-11-18 06:42] #55 closed, assigned to NovaMachina

[2020-11-18 06:42] #56 closed, assigned to NovaMachina

[2020-11-18 08:13] PhiliaHalls opened #57 "Add Smithing Table Recipe for Netherite Mesh"
To keep in line with Vanilla recipes, I feel it would be better to add a Diamond to Netherite Smithing Table recipe. ~~Plus I feel like six Netherite Ingots is a bit much for a mesh, quite frankly.~~

[2020-11-18 08:37] Warbringer12 opened #58 "fluid transform using a item"
Allow the ability for people to transform one fluid to another using a item.
this would allow people to create unique ways for people get different fluids

[2020-11-18 14:45] TwilightPSN opened #59 "[1.16.4] Trees Silkworm Output"
**Describe the bug**
It seems that trees are dropping an over excessive amount of silk worms. A single small tree is dropping anywhere from 1-3 stacks of worms.

**To Reproduce**
Steps to reproduce the behavior:
1. Make Crook
2. Harvest leaves

**Expected behavior**
Receive a few worms

**Version**
Minecraft Version: 1.16.4
Forge Version: 35.0.16
Ex Nihilo: Sequentia Version: 1.3.0.2

[2020-11-18 16:14] NovaMachina commented on #59
In my testing I am not seeing this behavior. Have you changed the recipes for the crook at all?

[2020-11-18 16:15] TwilightPSN commented on #59
Have not nothing was changed at all within the mod

Also having an issue with when you use the hammers with ftbultimine and getting way more output than we should

[2020-11-18 16:23] NovaMachina commented on #59
This appears to be an issue with FTB Ultimine installed. I'll look into it.

[2020-11-18 20:14] Valdan20 opened #60 "multiple recipes"
**Describe the bug**
When is start the game and a new map everything is fine, but when i leave and rejoin all sieve recipes are doubled. I can leave and rejoin map and now 3times the recipes and so on.

**Expected behavior**
Only the normal sieve recipes

**Screenshots**
![2020-11-18_21 12 34](https://user-images.githubusercontent.com/48634337/99582767-dc483700-29e2-11eb-9b0c-337db1687d24.png)

**

[2020-11-19 12:22] G-Stav opened #61 "Wiki/Guide on using Ex Nihilo Sequentia with datapacks"
**Is your feature request related to a problem? Please describe.**
I'm having a bit of trouble mostly due to not being used to working with datapacks. I'm not sure if it's a bug or I'm just doing something wrong, but I've copied the sieve registrys from the jar into the openloader/data/pack/data/exnihilosequentia/recipes/sieve folder.
What I'm wanting to do is clear a lot of the pre-generated reci

[2020-11-19 16:40] FearowGaming opened #62 "Mutiple drops"
Describe the bug
It seems that when hammering cobble  is dropping anywhere from 1-3 stacks of gravel

To Reproduce
Steps to reproduce the behavior.

1. Make hammer
2. Smash cobble

Expected behavior
Revive gravel

Version
Minecraft Version: 1.16.3
Forge Version:  34.1.41
Ex Nihilo: Sequentia Version: 1.2.1.2

[2020-11-19 17:23] benbenlaw opened #63 "auo clicker crash with barrels"
**Describe the bug**
when using the mod "click machines" "auto clicker"game crafhes when auto clickerr is used on barrel of transforming witch water

**To Reproduce**
Steps to reproduce the behavior:
1. place barrel and auto input water to make witchwater
2. have a click machine try and add sand to transforming witch water
3. then crash

**Expected behavior**
clicker should not be able to add an i

[2020-11-19 19:07] NovaMachina commented on #62
I am not seeing this behavior with the configuration you have described. Do you have other mods installed? Does this happen with Ex Nihilo installed by itself?

[2020-11-19 19:08] NovaMachina commented on #63
Which mod does the autoclicker come from?

[2020-11-19 21:03] MushuPlatypus opened #64 "Fired crucible doesn't work with Superheating Element"
*Please use the search functionality before reporting an issue. Also take a look at the closed issues!*

#### Issue description:
Superheating element from Mekanism doesn't work with the fired crucible

#### Steps to reproduce:
1. Place a superheating element with a fired curicble on top
2. Put cobblestone into the crucible
3. Heat says 0

#### Version (make sure you are on the latest version befor

[2020-11-19 21:43] FearowGaming commented on #62
Carry on and other mods

[2020-11-19 21:55] Thedrummonger opened #65 "Recipes stop working after they are used a few times"
**Describe the bug**
This bug is really strange. Upon booting into a world I am able to use the sieve and hammer normally, but after a few uses they stop dropping any items. For example, I load into the world, hammer about 40 cobblestone and it will drop gravel as expected but the next piece of cobblestone I break drops nothing, same for all the cobblestone after until I restart my client. The sie

[2020-11-19 21:56] Thedrummonger commented on #62
I am also experiencing this issue, however the dupe only happens when I mine a large amount of cobble at once using FTB ultimine, or at least that's the only time I've noticed it.

[2020-11-19 21:59] NovaMachina commented on #62
@FearowGaming Do you have FTB Ultimine installed?

[2020-11-20 07:29] #60 closed, assigned to NovaMachina

[2020-11-20 08:07] benbenlaw commented on #63
click machine
https://www.curseforge.com/minecraft/mc-mods/click-machine

[2020-11-20 08:38] #63 closed, assigned to NovaMachina

[2020-11-20 13:16] benbenlaw opened #66 "recipes not showing in jei"
**Describe the bug**
recipes not showing in jei on a server

**Expected behavior**
recipes shown

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/42780877/99804249-9d28fb80-2b32-11eb-8211-a6b2e73f0d67.png)

but drops other ores in when used in game
**Version**
Minecraft Version: 1.16.3
Forge Version: 31.1.61
Ex Nihilo:

[2020-11-20 15:38] benbenlaw commented on #62
this seems to happed on servers as well. as well as there being now recipes to make sand from gravel using a hammer

[2020-11-20 15:51] benbenlaw commented on #62
yeah really strange things happen so if i open a single player world reipe ect are all fine. joining a server recipes not all working, quiting and going back to single player recipe show shoing in jei and stuff

[2020-11-20 15:53] NovaMachina commented on #66
Which version of Ex Nihilo are you using?

[2020-11-20 15:54] benbenlaw commented on #62
![image](https://user-images.githubusercontent.com/42780877/99820375-986f4200-2b48-11eb-87cd-252d29945d11.png)
there something not working here is now duplicating jei results

[2020-11-20 15:55] benbenlaw commented on #66
latest

[2020-11-20 15:55] benbenlaw commented on #66
1.3.0.2

[2020-11-20 15:57] benbenlaw commented on #66
![image](https://user-images.githubusercontent.com/42780877/99820689-0582d780-2b49-11eb-977d-b3fd8249562f.png)
randomly now showing this somethimes it shows nothing sometimes it works fine super starange

[2020-11-20 18:12] FearowGaming commented on #62
Yeah i have ftb ultimine installed

[2020-11-20 21:02] #59 closed, assigned to NovaMachina

[2020-11-20 21:03] #62 closed, assigned to NovaMachina

[2020-11-21 04:30] NovaMachina commented on #65
It appears that this has been fixed in the latest commit. I wasn't able to replicate JEI going blank, but I did get to the point where drops would not occur with the sieve. Can you confirm that this is fixed in this build? I had to put it in a zip so GitHub would accept it.
[exnihilosequentia-1.16-1.3.1.0-rc1.jar.zip](https://github.com/NovaMachina/ExNihiloSequentia/files/5577009/exnihilosequentia

[2020-11-21 04:48] Thedrummonger commented on #65
I sieved through 9 stacks of gravel and hammered about 9 stacks of cobble and it looks like everything is working as intended using that version.

[2020-11-21 08:03] NovaMachina commented on #65
Awesome! Thanks for checking that!

[2020-11-21 08:03] #65 closed, assigned to NovaMachina

[2020-11-21 13:21] benbenlaw opened #67 "server log"
**Describe the bug**
server log recives this message
 Server thread/INFO [ne.mi.co.AdvancementLoadFix/]: Using new advancement loading for net.minecraft.advancements.PlayerAdvancements@49562637
ever time a sieve has finished sieving
**To Reproduce**
Steps to reproduce the behavior:
1. Place block sieve
2. sieve block
3. see error in server log
4. after a varried peorid of time the server will cras

[2020-11-21 14:19] xorinzor commented on #67
Something to note here that this is not with an official build.
You should wait for an official build before creating bug reports since this is a development version.

[2020-11-21 14:20] benbenlaw commented on #67
this was noticed by a player who made there own server using the latest reliease build
version exnihilosequentia-1.16-1.3.0.2.jar

[2020-11-21 14:22] xorinzor commented on #67
ah okay, I was under the assumption that you used the Jar that I shared of the 1.16-dev branch.

[2020-11-21 14:23] benbenlaw commented on #67
no but it does do the same on that verison as well

[2020-11-21 14:24] xorinzor commented on #67
Can you add the log file? the screenshot doesn't show what causes the crash

[2020-11-21 14:27] benbenlaw commented on #67
[debug (2).log](https://github.com/NovaMachina/ExNihiloSequentia/files/5577769/debug.2.log)
there you go

[2020-11-21 14:27] benbenlaw commented on #67
there is a crash report at the very top

[2020-11-21 14:34] xorinzor commented on #67
The server crash isn't a real crash, it's just the watchdog that detected that a single tick took more then 60 seconds.

[2020-11-21 14:40] benbenlaw commented on #67
ok

[2020-11-21 14:41] benbenlaw commented on #67
it cant be right the my server console is just spam of these message

 [ne.mi.co.AdvancementLoadFix/]: Using new advancement loading for net.minecraft.advancements.PlayerAdvancements

[2020-11-21 14:42] benbenlaw commented on #67
its starts cassuing the server to really slow down

[2020-11-21 14:58] xorinzor commented on #67
Yeah but that debug log is huge too, does the server have debug logging enabled or something?
You should probably turn that off, since that isn't meant to be running all the time.

As for the message, I'm not sure this mod is the cause, given the namespace that is writing the log message.

[2020-11-21 15:04] benbenlaw commented on #67
nope no debug logging the messages only comes up when seives have finshed sieving

[2020-11-21 15:16] benbenlaw commented on #67
[debug (4).log](https://github.com/NovaMachina/ExNihiloSequentia/files/5577845/debug.4.log)
thats the one with the crash

[2020-11-21 17:32] benbenlaw commented on #67
it also now crashed my server same messages

[2020-11-21 19:15] benbenlaw commented on #67
playing with just your mod in and its still happening spamming console with
[19:13:57] [Server thread/INFO] [ne.mi.co.AdvancementLoadFix/]: Using new advancement loading for net.minecraft.advancements.PlayerAdvancements@e245979

[2020-11-22 05:00] accessdenied0 commented on #64
This is not a bug... you need define the superheating element as Variable source.

Most mod-pack devs made it themselfs. I did it, too and it works for me, just fine.

with Crafttweaker and the newest version of Ex Nihilo 1.3.0.2 its this:
`<recipetype:exnihilosequentia:heat>.addJSONRecipe("heat_superheating",
{
    "type": "exnihilosequentia:heat",
    "block": "mekanism:superheating_element",

[2020-11-22 05:06] accessdenied0 commented on #66
I have this issue, too.

I can also add, by the first time checking the recipes in JEI, the recipes doesn't show up again.

In general the recipes not only seem to be bugged in JEI but also in game. The resources I get from sieving is really not that what is to expect. For example gravel sieved with a Diamond mesh doesn't give any Diamonds, within 30 mins sieving (used Clicker Mod)

I can post log

[2020-11-22 05:16] accessdenied0 commented on #50
Same with Barrels. If the Barrels are filled with for example Clay or Dust, the Barrel still has Clay in it.

I also notice that a bug happens with Pipes:
The barrel is filled with any liquid, any solid goes in, transforms, get extracted. Barrel remains empty.
Right clicking fills it with liquid again.
[In this particular Setup](http://puu.sh/GPXOr/7960785091.jpg)
I was even able to sustain to cre

[2020-11-22 06:10] NovaMachina commented on #64
To echo what @accessdenied0 said, this is not a bug. I chose only to add heat sources from vanilla since I cannot know what mods users will use.

[2020-11-22 06:10] #64 closed, assigned to NovaMachina

[2020-11-22 19:00] benbenlaw commented on #67
caused by sieves having duribility byt the way

[2020-11-22 23:11] accessdenied0 commented on #65
I tried the version you linked @NovaMachina,
and it fixes both [the JEI bug](https://github.com/NovaMachina/ExNihiloSequentia/issues/66) **and** [the Resource bug](https://github.com/NovaMachina/ExNihiloSequentia/issues/65). 👍
Only issue which is left is, that it has no benifit to make a Emerald- or Netherite Mesh. The pre-defined resources are identical with the Diamond Mesh.

[2020-11-22 23:49] NovaMachina commented on #65
On that note. If you wanted to make a suggestion on the benefits of those meshes, I would consider them!

[2020-11-23 03:00] accessdenied0 commented on #65
It depends what is planed in which direction you have planned for the mod to go...
For instance is the logical conclusion now that it only gives increased drops or maybe only increased drops on valuables like diamonds or maybe even Netherite fragments.
If Enchants are planned, the enchant-ability could be a possibility to make them somehow appealing.
I also see alot of potential for Waterlogging f

[2020-11-24 03:49] #66 closed, assigned to NovaMachina

[2020-11-24 03:50] #67 closed, assigned to NovaMachina

[2020-11-25 10:24] Algester opened #68 "no such method error and exception in server tick loop when eating end cake in a server?"
**Describe the bug**
maybe the end isnt generating?

**To Reproduce**
Steps to reproduce the behavior:
1. eat an end cake in a server
2. the server should crash
3. See error

**Expected behavior**
The player should be sent to the end somehow

**Version**
Minecraft Version: 1.16.4
Forge Version: 35.1.0
Ex Nihilo: Sequentia Version: 1.16-1.3.0.2

**Additional context**
https://pastebin.com/fZ39KsxJa

[2020-11-25 15:58] NovaMachina commented on #68
Does this occur in the latest version of Ex Nihilo?

[2020-11-25 16:26] #68 closed, assigned to NovaMachina

[2020-11-25 16:26] #57 closed, assigned to nobody

[2020-11-25 22:51] Dam-Buty opened #69 "Barrel fills with an air block when emptied by a hopper"
**Describe the bug**

When a barrel is emptied by a hopper, instead of being empty, it will contain an Air block. This Air block keeps the barrel from accepting any more items.

You need to right-click the barrel to "pick up" the Air block, at which point the barrel starts accepting items again. This is not functional on automated setups where the barrel is fed by a hopper.

**To Reproduce**
Steps

[2020-11-25 23:18] #69 closed, assigned to NovaMachina

[2020-11-29 04:44] Warbringer12 commented on #58
if possible could you also add in a blizz doll, blitz doll, and basalz doll for the thermal mobs

[2020-12-01 06:28] Wakatsu opened #70 "Add Nether Fungi to compostables"
Currently Crimson and Warped fungi have zero uses beside breeding hoglins and striders, and their "leaves" are useless complitely. Seeing how overworld fungi are considered compostable, I think its kinda logical that nether fungi should be too.

[2020-12-13 14:50] JWTHDYTWA opened #72 "Make hammering recipes support "count" and "chance""
Currently, recipes of `exnihilosequentia:hammer` type don't support `count` nor `chance`. It may seem to support `count`, but actually not. It shows several items only in JEI.

Also, result `chance` capability would be super-awesome.

[2020-12-13 16:16] JWTHDYTWA commented on #72
I almost forgot: please add support for `"tag"` as hammer input. It only accepts `"item"`.

[2020-12-13 19:42] NovaMachina opened #73 "CraftTweaker Support"
I know a lot of people have been requesting CraftTweaker Support. I've started looking into it and will add it when I get the chance.

[2020-12-13 19:50] NovaMachina opened #74 "Recipes Disappear when '/reload' is issued."

[2020-12-16 08:45] OrcLord1699 opened #76 "Game crash when trying to view in mods screen in game"
**Describe the bug**
Game crash when trying to view in mods screen in game.
Error: java.lang.ArrayIndexOutOfBoundsException: 0

**To Reproduce**
Steps to reproduce the behaviour:
1. Load game and click on mods (button at home screen)
2. click on Ex Nihilo: Sequentia (trying to get to config and see details)
3. game crashes

**Expected behavior**
to see the details of the mod and a possible config

[2020-12-17 17:01] Shorepion opened #77 "Dirt Duplication bug with Crooks"
**Describe the bug**
When mining dirt with a crook (any crooktype) it drops more dirt (2-4 +dirtblocks)

**To Reproduce**
Mine Dirt with a crook.

**Expected behavior**
It shouldn't drop more dirt blocks than 1.

**Screenshots**
-

**Version**
Minecraft Version: 1.16.4
Forge Version: 35.1.13
Ex Nihilo: Sequentia Version: exnihilosequentia-1.16-1.3.2.0

**Additional context**
-

[2020-12-17 21:33] Drakma opened #79 ""waterlogged" Not Working in Datapacks"
When using datapacks to add items to sieves the "waterlogged" variable does nothing.  Regardless of true or false it always creates the new sieve-able item in waterlogged sieves only.

below you can see through JEI:
https://i.imgur.com/FBDpI3O.png

My datapack:

`{
    "type": "exnihilosequentia:sieve",
    "rolls": [{
        "chance": 0.15,
        "mesh": "diamond"
    }],
    "input": {

[2020-12-17 21:55] remplerus commented on #79
well, i just investigated it. and if you just don't use the "waterlogged" tag, it just places it correctly. so if you write it "waterlogged" in your datapack, it gets waterlogged, and if you don't, it won't (wow that's very bad english lol)

[2020-12-17 22:16] Drakma commented on #79
I don't know why I didn't think of trying that as well.  I'll changed if this was the intended method.

[2020-12-19 02:47] NovaMachina commented on #79
There is a bug here. However, a work around for the moment is to just not include the waterlogged tag if you don't want it to be waterlogged. I'll be fixing it shortly.

[2020-12-23 05:44] NovaMachina commented on #73
Duplicate

[2020-12-23 05:44] #73 closed, assigned to NovaMachina

[2020-12-23 05:45] NovaMachina commented on #33
Added as part of AE2 Addon
https://www.curseforge.com/minecraft/mc-mods/ex-nihilo-sequentia-ae2-addon

[2020-12-23 05:45] #33 closed, assigned to NovaMachina

[2020-12-23 05:58] #79 closed, assigned to NovaMachina

[2020-12-23 12:19] Switch-Back18 opened #80 "Make mesh stackable by 32 or 64"
**Is your feature request related to a problem? Please describe.**
I'm frustrated by the full inventory of mesh

**Describe the solution you'd like**
I want to fix this with inscrease the stacksize of mesh

MathisSkate

[2020-12-24 06:49] NovaMachina opened #81 "Sanitize base mod"
- [x] Remove ores that are one-offs

[2020-12-24 13:00] maltewtf opened #82 "Add Support for AE2"
I am working on a sky factory style mod pack in 1.16.4. Currently, the sieve will not drop any sky stone dust or certus quartz dust. This makes building an ME-System pretty much impossible (besides the missing presses).

Please add a compatibility option for EA2 materials, such as certus quartz dust and sky stone dust.

[2020-12-24 16:56] NovaMachina commented on #82
Support has been added for version 1.4.0.0 of Ex Nihilo through an addon: https://www.curseforge.com/minecraft/mc-mods/ex-nihilo-sequentia-ae2-addon

[2020-12-24 16:56] #82 closed, assigned to NovaMachina

[2020-12-24 22:56] #81 closed, assigned to NovaMachina

[2020-12-24 23:08] remplerus commented on #50
well i found out, that is not only a bug with ex nihilo, but with MANY other mods too, so i just decided to add "exnihilosequentia:*" to the forbidden tiles in carryon-server.toml (and moved a copy in defaultconfig folder)

[2020-12-25 15:28] Ludi87 opened #83 "Ore pieces/chunks/ingots datapack support"
**Describe the solution you'd like**
Some way to define our own ore pieces/chunks/ingots to add more modsupport. From looking at
ExNihiloSequentia/src/main/java/novamachina/exnihilosequentia/common/item/ore/EnumOre.java
it seems like we'd only need to supply a name and color for it..?

My alternative would be contenttweaker/kubejs, but then I'd have to make textures :)

[2020-12-27 17:18] #77 closed, assigned to NovaMachina

[2020-12-27 17:20] NovaMachina commented on #76
I'm not sure that there is anything I can do about this issue. I think this might be a Forge issue, however I will take a look at it.

[2020-12-27 17:23] NovaMachina commented on #50
Perfect. I've been chatting with some other developers and that's kind of what I had discovered as well. I'm going to go ahead and close this since it is probably a Carry On issue.

[2020-12-27 17:23] #50 closed, assigned to NovaMachina

[2020-12-28 18:36] #54 closed, assigned to NovaMachina

[2020-12-28 18:36] #74 closed, assigned to NovaMachina

[2020-12-28 18:54] NovaMachina commented on #76
Found issue. Fixed in next version.

[2020-12-28 18:54] #76 closed, assigned to NovaMachina

[2020-12-28 19:04] NovaMachina commented on #83
Unfortunately, from what I understand, the current philosophy for Minecraft and Forge is that all items must be registered before the initialization phase takes place. This means that dynamically generating items is not possible.

[2020-12-28 19:04] #83 closed, assigned to NovaMachina

[2020-12-30 00:07] #72 closed, assigned to NovaMachina

[2020-12-30 02:34] NovaMachina commented on #58
Dolls will be added through a Thermal addon.

[2020-12-30 02:37] #58 closed, assigned to NovaMachina

[2020-12-30 03:00] #70 closed, assigned to NovaMachina

[2020-12-30 03:02] NovaMachina commented on #27
This is kind of outside the nature of Ex Nihilo.

[2020-12-30 03:02] #27 closed, assigned to NovaMachina

[2021-01-05 17:28] Switch-Back18 opened #85 "Make compatible with CraftTweaker for things output"
It's possible to add a CraftTweaker integration ?

Create zenscript to change the mesh output or Hammer output

That would be good for pack making

Thanks for read this ^^

[2021-01-05 18:50] remplerus commented on #85
already done and requested ( #54 #73 ). will be realeased with newer version

[2021-01-12 05:31] NovaMachina commented on #85
Duplicate.

[2021-01-12 05:31] #85 closed, assigned to NovaMachina

[2021-01-12 14:16] Switch-Back18 opened #86 "Texture of Flint Mesh and Iron Mesh is switch"
**Describe the bug**
I'm disappointed because if think the Texture of flint mesh is the texture of iron mesh and the texture of iron mesh is the texture of flint mesh. I don't know if that's done on purpose.

Can you change this to reproduce like the other ExNihilo Mods because it's really weird.

Thank you !

[2021-01-14 07:55] Switch-Back18 opened #87 "Way to remove all sieve output with CraftTweaker ?"
Hello !

Did there is a way to remove all sieve output with CraftTweaker ?

I'm with the 2.0.

Thanks you !

[2021-01-14 08:20] NovaMachina commented on #87
Please check the CraftTweaker documentation: https://docs.blamejared.com/1.16/en/recipes/recipe_managers/

[2021-01-14 08:46] Switch-Back18 commented on #87
Thank you !

[2021-01-14 08:46] #87 closed, assigned to NovaMachina

[2021-01-14 09:28] Switch-Back18 opened #88 "All Mesh inherits of the lower tier"
**Describe the bug**
I start use CraftTweaker to create custom output for Sieves.
I wanna drop Flint for only the String Mesh
I wrote this :

https://pastebin.com/VF2wtgrg

But this works in other Mesh (Iron, Flint, Diamond, Emerald, Netherite).

**To Reproduce**
Use this ZenScripts

**Expected behavior**
I just want to drop this from String Mesh.

**Version**
Minecraft Version: 1.16.4
Forge Versi

[2021-01-14 10:14] remplerus commented on #88
can confirm this. also if you add it to a higher tier, those recipes also appear in all tiers above the selected.

[2021-01-14 10:24] remplerus opened #89 "Can't add HeatSource with CT"
**Describe the bug**
You can't add HeatSource with "latest" CraftTweaker version 7.1.0.82.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any script that would add a new HeatSource
2. Script just doesn't load with error: "No such member: setBlock"

**Expected behavior**
Adds HeatSource.

**Version**
Minecraft Version: 1.16.4
Forge Version: 35.1.13
Ex Nihilo: Sequentia Version: 2.0.0.

[2021-01-14 10:43] Switch-Back18 commented on #89
Paste the zenscript here we can help you

[2021-01-14 12:18] Switch-Back18 commented on #88
If you create a output from  Iron Mesh, that not create for String and Flint Meshs that's false "remplerus" !

In the config in exnihilosequentia-common.toml

There is "flattenSieveRecipes = true"

Change to false and that solve it for the higher mesh !

[2021-01-14 13:03] remplerus commented on #89
If it helps you, that's the script
https://gist.github.com/remplerus/fd5dfecea107a9a21f62b0bbeabd19c6

[2021-01-14 19:59] NovaMachina commented on #89
Which version of CraftTweaker are you using?

[2021-01-14 20:03] NovaMachina commented on #88
This is the intended behavior. Higher tier meshes inherit the drops of all lower tier meshes. To disable this functionality set `flattenSieveRecipes=false` in the configs.

[2021-01-14 20:03] #88 closed, assigned to NovaMachina

[2021-01-14 20:05] NovaMachina commented on #89
It would appear that CraftTweaker changed their API since the version I used to develop support for CraftTweaker.

[2021-01-14 20:51] #89 closed, assigned to NovaMachina

[2021-01-16 01:45] Black-Aengel opened #90 "The stone recipes are not present."
The old Minecraft stone recipes for acquiring Diorite (nether quarts plus cobblestone), Granite (Diorite and nether quarts) and Andesite (Cobblestone and diorite) are gone. Not sure if it is a feature or a bug, but it seriously slows down my production lines as I make extensive use of andesite specifically and to acquire a decent amount I have to work with the sieve for far longer than I am used t

[2021-01-16 01:48] NovaMachina commented on #90
it would appear that I inadvertently overrode them. I will address this in an update.

[2021-01-16 22:26] papaworld opened #91 "Moving Osmium and Bismuth to Addons"
Howdie... Moving osmium and bismuth to addons is a problem because I don't have AE2 installed, nor would I want to. Game launch requires AE2 with addon. Is it possible to separate mekanism and silentmech to their own respective addon or the addon to ignore AE2 not being installed?

[2021-01-16 22:38] Blackout03 commented on #91
idk what you mean Osmium and Bismuth are not in the AE2 addon at all

A mekanism addon can be seen in development on the repositories for https://github.com/NovaMachina-Mods

[2021-01-16 22:44] papaworld commented on #91
Apologies for the misunderstanding, Osmium is moved to the AE2 addon... "2.0.0.0 - Remove Osmium and Bismuth (moved to addons)". I have Mekanism and SilentMech installed, but not AE2... so I can not sieve for osmium or bismuth.

[2021-01-16 23:06] papaworld commented on #91
Version 2.0.0.0 the change-log states (in part): "2.0.0.0 - Remove Osmium and Bismuth (moved to addons)".

With the 2.0.0.0 and 2.0.0.1 updates, osmium and bismuth pieces and chunks are not available.

I don't use AE2, so the "addon" can not be installed in order to get osmium and bismuth.

The Curse Forge Ex Nihilo Sequentia "addons" link is for AE2 which, presumably, also includes Osmium and Bis

[2021-01-16 23:17] Blackout03 commented on #91
The Mekanism addon has not been released yet, but should come out soon, the osmium and bismuth are not in the ae2 addon

[2021-01-16 23:30] papaworld commented on #91
Gotz it! thank you.

[2021-01-19 21:10] #86 closed, assigned to NovaMachina

[2021-01-19 21:10] #90 closed, assigned to NovaMachina

[2021-01-20 21:06] NovaMachina commented on #91
Mekanism addon has been released, so that should solve part of the issue.

[2021-01-21 11:32] Black-Aengel opened #93 "Found Another one. Prismarine Shards for Doll"
I see a way how to acquire Prismarine Shards (Sand into the sieve with iron, diamond etc mesh) but i don't see anything for the Prismarine Crystals (which so far I know are only dropped by guardians) but the recipe for creating the Protecting Doll requires Prismarine Crystals.... so.... i don't know. Is there an actual means of finding them without the guardians?

[2021-01-21 16:16] papaworld commented on #91
Great, thank you. I'll give it a go.

[2021-01-21 16:40] papaworld commented on #91
Installed ExSeq 2.0.1.0 and ExMeka 1.0.0.0... just so ya know, ExSeq needs to be installed first, then drop out, then install ExMeka. If installed at the same time there is game load crash.

All is good with Osmium pieces and chucks... is Bismuth going to be in the works?

[2021-01-22 22:35] firemaster1294 opened #94 "Crash on Startup"
Ex Nihilo Sequentia crashes on mod startup

**To Reproduce**
Steps to reproduce the behavior:
1. Install mekanism and Ex Nihilo Sequentia plus the mekanism add-on

**Expected behavior**
No crash

**Version**
Minecraft Version: 1.16.4
Forge Version: 35.1.37
Ex Nihilo: Sequentia Version: 2.0.1.0

**Additional context**
https://pastebin.com/XpxSxaAR

[2021-01-23 00:21] NovaMachina commented on #94
Following these reported steps and using the same versions, I was not able to reproduce this. Is there another mod that when added to the above steps causes the crash?

[2021-01-23 00:23] NovaMachina commented on #93
I may have overlooked this. I will see if there is a good place to add them in. If you have suggestions on what would be a good balance, please let me know.

[2021-01-23 00:24] NovaMachina commented on #61
Now that I have addon support for Ex Nihilo, I plan on focusing on getting good documentation out for this.

[2021-01-23 02:49] firemaster1294 commented on #94
Definitely one of the mods I'm running then that's causing the crash. I think the paste bin should show the complete list of installed mods? I'll see if I can isolate the problem mod. So far I've been able to solve this by removing the mekanism add on

[2021-01-23 16:38] remplerus commented on #94
well maybe the latest.log or debug.log should be posted too because with those crashlogs you cant see what happened before

[2021-01-24 05:51] Blackout03 commented on #93
Prismarine shards are dropped from iron and diamond from sand.

prismarine crystals could by from sand on just a diamond mesh?

[2021-01-24 17:20] Black-Aengel commented on #93
I agree with Blackout03. Prismarine Crystals should require a bit more oomph to produce. But with the Shards it should be easier. Iron and and above for Shards. Diamond for the Crystals

[2021-01-28 08:10] Demonpriest commented on #94
I am having the same issue, though it doesnt always crash, sometimes it boots fine, sometimes crashes multiple times in succesion.

Version
Minecraft Version: 1.16.4
Forge Version: 35.1.37
Ex Nihilo: Sequentia Version: 2.0.1.0

Additional context
latest.log
https://pastebin.com/EFP8NskS

[2021-01-29 00:55] Angular-Angel opened #95 "Allow using Coarse Dirt in Sieve"
**Is your feature request related to a problem? Please describe.**
You cannot use coarse dirt in the sieve.

**Describe the solution you'd like**
Allow running coarse dirt through the seive. I'm not too particular on what to get back from this - dirt, gravel, or the dirt or gravel lists would all work.

**Describe alternatives you've considered**
A way to turn coarse dirt into dirt or gravel would

[2021-01-29 02:27] Angular-Angel opened #96 "Seeds do not compost in vanilla composter"
**Describe the bug**
Cactus, Bamboo, Sweet Berry, Sugarcane, and grass seeds do not compost in the vanilla composter. I haven't tested any others, but I don't think they compost either.

**To Reproduce**
Steps to reproduce the behavior:
1. Grab Cactus Seeds, or any other seeds from Ex Nihilo
2. Right click on vanilla composter.

**Expected behavior**
The Ex Nihilo seeds should compost the same was

[2021-01-30 00:27] Angular-Angel opened #97 "Support for other mods stones and plants"
**Is your feature request related to a problem? Please describe.**
So, I threw this mod into ~~Enigmatica 2~~ Enigmatica 6 and am really liking it. However, it does have the downside that it only gives stuff from vanilla - I can't get any of the mod trees or crops from the sieve, or pebbles for any of the mod stones. Now, I'm not sure how easy it would be to add support for all that - if it requir

[2021-02-01 04:48] Blackout03 commented on #97
Isn't enigmatica 2 for 1.12?

[2021-02-01 05:56] Angular-Angel commented on #97
Whoops my bad, yeah I threw it into Enigmatica 6!

[2021-02-01 06:02] Angular-Angel opened #98 "Allow making other stone blocks out of pebbles."
**Is your feature request related to a problem? Please describe.**
There's only one thing you can do with pebbles.

**Describe the solution you'd like**
I'd like to be able to make stairs, slabs, walls, and the like out of pebbles. Slabs can be two pebbles side by side, stairs can be that plus one above, and walls can be three in a row vertically.

**Describe alternatives you've considered**
I kno

[2021-02-04 03:48] Angular-Angel opened #99 "Beetroot, Fern, Large Fern, and other such seeds from sieve."
**Describe the solution you'd like**
Add seeds for ferns and large ferns, and then make them and vanilla beetroot seeds drop from the sieve like other such seeds do.

[2021-02-04 16:06] MegaHakkero commented on #94
Same issue here.

Minecraft 1.16.4
Forge 35.1.37
Ex Nihilo Sequentia 2.0.1.0

Crash log is nearly identical to previous commenter. Something is passing a null event to ClientSetup.onColorHandlerEvent, causing getItemColors() to be a null method.

[2021-02-05 07:50] NovaMachina commented on #94
I've added some error checking for this issue. Since I was unable to replicate the problem, can someone report if this fixed the issue? You can find the jar here: [2.0.1.1-rc1](https://jenkins.jacob-williams.me/job/Ex%20Nihilo%20Sequentia/55/)

[2021-02-05 08:01] Demonpriest commented on #94
It might just be coincidence, but when i encountered this issue i was using the curse launcher, and since switching to GD recently, i have yet to experience a single crash.

[2021-02-05 19:45] Zickfor commented on #94
my friend has same issue

[debug.log](https://github.com/NovaMachina-Mods/ExNihiloSequentia/files/5934871/debug.log)

[2021-02-05 19:47] Angular-Angel opened #100 "Cannot cook silk worms on camp fire."
**Describe the bug**
The camp fire cannot be used to cook silk worms, only the furnace can.

**Expected behavior**
Silk worms should cook on the camp fire.

[2021-02-06 05:17] NovaMachina commented on #97
There are add-ons that are being created that will hopefully add support for other mods. However, it would be pretty easy to create a datapack or a CraftTweaker script that would add these items.

[2021-02-08 22:35] SyedFaisalAli commented on #94
@NovaMachina I encountered the same issue using the MultiMC Launcher in attempt to try Sky Bees modpack (https://www.curseforge.com/minecraft/modpacks/sky-bees)

Updating mod with your attached jar seems to have fixed the issue as I'm now able to get past the startup.

[2021-02-09 02:46] Lazyshot commented on #94
I've updated the attached jar and still am having this issue both with Curse launcher and with MultiMC:

The big tell to me is the
[code]

Note: This is Sky Bees modpack

Logs:
https://pastebin.com/kJYB0uCr

[2021-02-09 02:51] Lazyshot commented on #94
Rolled Forge back to 35.1.36 and it is working now. May just be a bug in the latest build of Forge.

[2021-02-09 17:04] sz55net opened #101 "Error during loading"
**Describe the bug**
When I am loading the Sky Bees modpack, it crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Sky Bees modpack

**Expected behavior**
It launches.

**Screenshots**
N/A

**Version**
Minecraft Version: 1.16.4
Forge Version: 35.1.37
Ex Nihilo: Sequentia Version: 2.0.1.0

**Additional context**
[https://pastebin.com/CA9neKWX](https://pastebin.com/CA9neKWX)

[2021-02-09 17:07] NovaMachina commented on #101
Duplicate of #94

[2021-02-09 17:07] #101 closed, assigned to NovaMachina

[2021-02-09 21:05] NovaMachina commented on #94
Interesting....There are some logging statements that are created when `enableDebugLogging` is enabled in the config file. Someone who is having this issue, can you enable it and submit the log? Unfortunately I'm having to rely on y'all since I can't replicate the issue.

[2021-02-10 00:40] cjo9900 commented on #94
I had some time, cloned ExNihiloSequentia and ExNihiloSequentia-Mekanism and added some trace and managed to reproduce the issue seen.
My logging showed that NullPointer Exception in onColorHandlerEvent() is caused by ore.getChunkItem() returning a NULL for osmium.

Extra tracing showed the chunk and piece items were not being created for the ore.
As I noted that the chunk and pieces are created i

[2021-02-10 04:42] NovaMachina commented on #94
@cjo9900 Perfect, this helps a lot actually. I just haven't really had the time to sit down and do full out debugging since this was reported. Thanks for your help. Probably means that I need to go and rethink how I load in ores.

[2021-02-10 05:07] NovaMachina commented on #94
Here is an RC for the [Mekanism Addon](https://jenkins.jacob-williams.me/job/Ex%20Nihilo%20Sequentia%20-%20Mekanism%20Addon/5/). I'm going to do some testing now and see what I come up with.

[2021-02-10 11:53] sz55net commented on #94
Thanks @NovaMachina, that fixed it. I've had no issues so far. I'm going to message the Sky Bees owner, so they can do something.

[2021-02-10 15:10] NovaMachina commented on #94
@homelyseven250 Which thing fixed it exactly?

[2021-02-10 17:00] kylertlove commented on #94
I have not been able to replicate the issue after pulling down exnihilomekanism-1.16-1.0.0.1-rc1.  It seems that the ordering of addons before ExSeq fixes it.

Tested with both forge 35.1.36 and 37
Ex Nihilo: Sequentia Version: 2.0.1.0
plus a dozen other random mods including Mekanism

[2021-02-10 17:03] NovaMachina commented on #94
Ok perfect. I'll release this then.

[2021-02-10 17:03] #94 closed, assigned to NovaMachina

[2021-02-11 04:06] Meepster007 opened #102 "cant finish the "barrel" quest"
I got a wooden barrel and it did not submit the quest I tried to do it manual many times

A clear and concise description of what the bug is.
to finish the quest it says "Any forge:barrel
**To Reproduce**
Steps to reproduce the behavior: craft a barrel and it will not submit your quest
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

**Expected behavior**
A clear and co

[2021-02-11 04:06] Meepster007 commented on #102
pls help i cant progess with out it

[2021-02-11 04:13] NovaMachina commented on #102
If this is in relation to a modpack, please submit the issue to the modpack creator.

[2021-02-11 04:13] #102 closed, assigned to NovaMachina

[2021-02-11 05:07] #93 closed, assigned to NovaMachina

[2021-02-11 05:07] #96 closed, assigned to NovaMachina

[2021-02-11 05:07] #99 closed, assigned to NovaMachina

[2021-02-11 05:07] #100 closed, assigned to NovaMachina

[2021-02-13 21:50] Flatts3000 opened #103 "Obsidian Transformation Broken"
Version: 2.0.2.0
Modpack: Sky Bees
Single player

I have a crucible feeding into a barrel with Cyclic pipes with a hopper under the barrel. Once the barrel is full, I place water on top of the barrel and the lava in the barrel turns into air. I'm able to get a single obsidian from this setup, but subsequent attempts result in the barrel deleting the lava and replacing it with air.

Even if I remov

[2021-02-13 21:58] Flatts3000 commented on #103
If I restart the client without the pipes and the hopper connected to the barrel, then I can manually get all of the obsidian I want out of the barrel.

[2021-02-15 16:20] ariosos opened #104 "Stone Barrel netherrack transmutation with partially filled barrel"
Using the Sky Bees modpack. Placing redstone into a stone barrel with less than 1000mb of lava will give a netherrack block. (consuming all of the lava in the barrel in the process)

I would expect that it takes the entire 1000mb.

![image](https://user-images.githubusercontent.com/7917753/107970713-76d2fa80-6f7f-11eb-94c0-bdf17a837fbf.png)

![image](https://user-images.githubusercontent.com/79177

[2021-02-15 17:08] laod commented on #104
Came to report this as well. The handler for the fluid mode doesn't check how much fluid there is before calling drain and drain's parameter is a maximum.

[2021-02-15 17:08] Blueblob860 opened #105 "Game crashes on startup phase"
In the Sky Bees modpack, I keep on getting an error stating "The game crashed whilst initializing game Error: net.minecraftforge.fml.ModLoadingException: Ex Nihilo: Sequentia (exnihilosequentia) encountered an error during the common_setup event phase Exit Code: -1" I am currently using chlorine to get a better fps, and I am using version 3.0.3b of the modpack.

Steps to reproduce the behavior:
Do

[2021-02-15 17:12] NovaMachina commented on #105
This was an issue with the Mekanism add on. Please update the Mekanism add on as it will fix this issue.

[2021-02-15 17:14] NovaMachina commented on #105
Wait... I might not have released the patches version of it yet. Let me do that.

[2021-02-15 17:24] NovaMachina commented on #105
Should be released in a few minutes.

[2021-02-15 17:24] #105 closed, assigned to NovaMachina

[2021-02-15 17:42] Blueblob860 commented on #105
Thanks!

[2021-02-15 19:46] ariosos commented on #103
As a work-around, you can right click the top (maybe an Item User might work?) of the barrel to make the lava appear again (but I don't see the obsidian going into the hopper, storage drawer or my inventory).
EDIT: I just tried it with a brick hopper (mod is called "Brick Hopper") and it seems to work fine (I also closed and re-opened the save before that, too).

[2021-02-16 01:44] brisingraerowing opened #106 "Sieves block light."
**Describe the bug**
Placed sieves block light.

**To Reproduce**
Steps to reproduce the behavior:
1. Place 5x5 of sieves
2. Shadows

**Expected behavior**
Shadows don't appear under placed sieves.

**Screenshots**
![2021-02-15_20 42 35](https://user-images.githubusercontent.com/250409/108008471-7150d100-6fce-11eb-91f0-3f4d93b3009f.png)

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.0.21

[2021-02-16 03:20] TheNimbleNinja opened #107 "sapling tag"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
exnihlo is trying to get sapling tag before its ready

**Expected behavior**
create a world
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.0.29
Ex Nihilo: Sequentia Version:1.16-2.0.2.0

**

[2021-02-16 03:28] NovaMachina commented on #107
I don't see in the log where this is Ex Nihilo's fault. Looks to be more of an Ex Compressum Issue.

[2021-02-16 10:52] DancingSnow0517 opened #108 "The lava in the stone barrel does not seem to be filled up to be converted to obsidian"
**Describe the bug**
A clear and concise description of what the bug is.
I used create fluid pipe to add lava to stone barrel and water on top.Lava doesn't full and right click on it can get obsidian

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.0.15
Ex Nihilo: Sequentia Version: 2021-2-10

[2021-02-17 19:20] Jkosio23 commented on #103
seems like it's a bug with it changing modes to block on the same tick that the obsidian is being pulled out, and it ends up as the air block instead of the obsidian based on what i'm experiencing and my limited mod programming knowledge

[2021-02-17 19:46] Jkosio23 commented on #108
Do you have anything pulling items out of the barrel, because if so this is a duplicate of #103

[2021-02-17 22:53] CodyEmery opened #109 "Crash on launch"
**Describe the bug**
When launching the mod pack "Sky Bees", this mod seems to be encountering an error and causing the launch to terminate itself

**To Reproduce**
Steps to reproduce the behavior:
1. Click "Play" on the Overwatch Launcher
2. Click "Play" on the Minecraft Launcher

**Expected behavior**
The game to launch and run

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2021-02-17 22:59] NovaMachina commented on #109
This has been fixed in the latest version of the Mekanism Addon (where the bug originates). Please report this to the pack developer.

[2021-02-17 22:59] #109 closed, assigned to NovaMachina

[2021-02-18 19:07] Valdan2967 opened #110 "Crash on startup"

[2021-02-18 19:07] Valdan2967 opened #111 "crash on startup"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Minecraft Version: 1.1

[2021-02-18 19:07] Valdan2967 opened #112 "crash on startup"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Minecraft Version: 1.1

[2021-02-18 19:07] Valdan2967 opened #113 "crash on startup"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Minecraft Version: 1.1

[2021-02-18 19:08] Valdan2967 opened #114 "crash on startup"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Minecraft Version: 1.1

[2021-02-18 19:10] #110 closed

[2021-02-18 19:10] #111 closed

[2021-02-18 19:10] #112 closed

[2021-02-18 19:10] #113 closed

[2021-02-18 19:10] #114 closed

[2021-02-18 19:11] Valdan2967 opened #115 "crash on startup"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Minecraft Version: 1.1

[2021-02-18 19:14] #115 closed

[2021-02-18 23:34] remplerus commented on #103
yes i can reproduce it also with wooden barrels and cobblestone (which i think should not do that)

[2021-02-19 04:53] NovaMachina commented on #108
Duplicate of #103

[2021-02-19 04:53] #108 closed, assigned to NovaMachina

[2021-02-19 04:54] #107 closed, assigned to NovaMachina

[2021-02-19 06:03] #103 closed, assigned to NovaMachina

[2021-02-19 06:03] #104 closed, assigned to NovaMachina

[2021-02-19 06:03] #106 closed, assigned to NovaMachina

[2021-02-19 21:10] remplerus commented on #91
just a question, what the heck is bismuth and which mod is using it? i never used that in any exnihilo modpacks out there

[2021-02-20 10:08] BeastPotato opened #118 "Rendering issue with Barrel and Sieve"
**Describe the bug**
Barrels and Crucibles doesnt render fluids in them and the sieves doesnt render any blocks

**Expected behavior**
Rendering of fluids in barrels and rendering the progress in the sieve

**Screenshots**
![2021-02-20_10 52 16](https://user-images.githubusercontent.com/79358576/108591965-aca32500-736b-11eb-91aa-08c9a72693c4.png)
![2021-02-20_10 53 59](https://user-images.githubus

[2021-02-20 16:04] easternfps2016 opened #119 "Crashes in the Startup Phase"
**Describe the bug**
I have been getting this crash often when trying to run, sometimes I have to try starting Minecraft four or five times to not crash:
[crash-2021-02-20_00.00.09-client.txt](https://github.com/NovaMachina-Mods/ExNihiloSequentia/files/6015045/crash-2021-02-20_00.00.09-client.txt)

**Information**
Minecraft Version: 1.16.4
Java: 1.8.0_281 (64bit)
Forge Version: 35.1.37
Ex Nihilo:

[2021-02-20 16:30] remplerus commented on #119
exnihilomekanism-1.16-1.0.0.0.jar  <---- thats the problem, update mekanism addon

[2021-02-22 16:42] jinkhya opened #120 "[1.16] Dupe of sieving material when cyclic mod is present"
**Describe the bug**
When you sieve following the steps below you can sieves for days without running out of gravel or sand, or dust or whatever you're using. In my example I used gravel.

**To Reproduce**
Steps to reproduce the behavior:
1. have a full inventory
2. put a stack of gravel in hand
3. drop gravel blocks on top of sieves
        -> the amount needs to be at least 1 more gravel than th

[2021-02-22 20:51] jinkhya opened #121 "[Suggestion] Prevent people from using scripts to sieve instantly"
**Is your feature request related to a problem? Please describe.**
People can bypass the time it takes to sieve items with autoclickers/scripts

**Describe the solution you'd like**
Could it be possible to not accept more right click actions than needed for the time it needs to sieve?

**Additional context**
This is an example : https://youtu.be/bkIk_NThoWE?t=923

[2021-02-23 07:37] ModernGamingWorld commented on #121
I agree this needs to be nerfed or fixed, thats to OP

[2021-02-23 14:16] DarkAmulek opened #122 "useJson doesn't appear in config"
I looked in the config file for 1.16-2.0.0.1 and I did not see the option useJson in there.

**To Reproduce**
1. Place mod in mods folder
2. Run Minecraft
3. Start new world
4. open Config file named exnihilosequentia-common
5. look for useJson, it doesn't appear to exist here.

**Expected behavior**
Open the config file named exnihilosequentia-common after creating a world with mod installed and

[2021-02-23 14:22] remplerus commented on #122
uhm, yes, you cant use json anymore due to minecraft adding datapacks, but you can overwrite them using datapacks or crafttweaker

[2021-02-23 14:27] DarkAmulek commented on #122
Oh, I did not know that data packs affected that. I don't often use mods past 1.12.2, sorry, probably should have just asked in the comments then. Thanks for the help.

[2021-02-23 14:27] #122 closed, assigned to NovaMachina

[2021-02-23 17:43] NovaMachina commented on #121
Uhhhh...yeah...that's not ok....

[2021-02-23 18:24] NovaMachina commented on #121
So I have a solution, is there anyone with an autoclicker that could test it out for me? I can't seem to find a good autoclicker for linux

[2021-02-23 18:54] pdawson commented on #121
I'm on Ubuntu and you can use `AutoKey`
Create a new script and use the following:
[code]

Then just bind it to a hotkey 😄

[2021-02-23 19:03] jinkhya commented on #121
I can test it if you want :)

[2021-02-23 19:36] NovaMachina commented on #121
I tried autokey and for whatever reason it doesn't play nice on Fedora

[2021-02-23 19:41] NovaMachina commented on #121
@jinkhya Here's the RC: https://jenkins.jacob-williams.me/job/Ex%20Nihilo%20Sequentia/62/

[2021-02-23 19:46] jinkhya commented on #121
yup that worked !!! nice :)
My hand is right clicking fast but it's not sieving faster, good job !

[2021-02-23 19:47] NovaMachina commented on #121
@jinkhya Sets you on fire right?

[2021-02-23 19:57] jinkhya commented on #121
lol I was in creative but after swapping to survival it doesn't set me on fire, no.

[2021-02-23 21:02] NovaMachina commented on #121
Ah...That's fine. As long as it prevents the autoclicker

[2021-02-23 21:44] DevScyu opened #123 "[Bug] Custom Crook Recipe Bug"
**Describe the bug**
When using a custom recipe with the crook, it seems to duplicate the input item.

**To Reproduce**
Steps to reproduce the behavior:
Use the following custom recipe in a datapack:
[code]

**Expected behavior**
You only get the items in the result.

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.0.42
Ex Nihilo: Sequentia Version: 1.16-2.0.2.1

[2021-02-23 21:58] remplerus commented on #123
can confirm that it happens with any crook recipe you add via datapack. i made that example above with logs. its duplicating 3-4 logs and sometimes the sapling.

[2021-02-26 00:11] NovaMachina commented on #119
Update to exnihilomekanism-1.16-1.0.0.1

[2021-02-26 00:11] #119 closed, assigned to nobody

[2021-02-26 05:36] nest4321 commented on #123
Can also confirm that after some testing crooks with quadruple harvestable blocks and triple typically non-harvestable blocks.

[2021-02-26 06:53] #121 closed, assigned to NovaMachina

[2021-02-27 00:04] Darkosto opened #124 "Change Crook Durability or Allow via Config"
Hey!

checking back on older versions (skyfactory 1) Ex Nihilo had slightly higher durability for Wooden Crooks. 89 vs. 64 in the new versions. I've found that I'm constantly having to make new crooks because they break so quickly. Getting sticks is easy so it's not an issue of resource management but rather the time spent making a new crook so often. Is it possible to slightly raise the durabilit

[2021-02-27 00:18] NovaMachina commented on #124
No worries at all! I've been meaning to do this.

[2021-02-27 02:06] Darkosto opened #125 "Cannot Pull Water from a Wooden Crucible with an Empty Bottle"
**Describe the bug**
When attempting to fill a bottle with water from the wooden crucible the game log throws and error and nothing happens in-game.

**To Reproduce**
Steps to reproduce the behavior:
1. Place down wooden crucible
2. Add water via bucket
3. right click with an empty bottle
4. check game log

**Expected behavior**
I'm not certain on whether or not your intention is to allow water to

[2021-02-27 02:10] Darkosto opened #126 "Fired Crucible Does Not Allow Melting of Saplings or Leaves"
**Describe the bug**
JEI tooltips show leaves and saplings can be melted in the fired crucible, this does not seem to be the case in practice.

**To Reproduce**
Steps to reproduce the behavior:
1. place down fired crucible
2. give heat source
3. try to right click leaves or saplings into the block

**Expected behavior**
If JEI shows they can melted, I would assume it would be allowed in the mod

*

[2021-02-27 02:17] Darkosto opened #127 "Wooden Crucible Should Not Require a Heat Source"
Hello!

I don't think the Wooden Crucible should require a heat source to function. The first concern is you're using lava or fire under a wooden block to power it. It's a game, so that's fine it doesn't have to make sense. But, that leads me into the next concern which is the inconsistency of the Wooden Crucible not matching previous iterations that did not need a heat source to convert leaves an

[2021-02-27 02:35] Darkosto opened #128 "Allow Clay to be Made in the Wooden Crucible"
Hello again!

Would you be able to allow a block of Clay to be made in the Wooden Crucible when it has 1000mb of Water and right clicked with a block of Dust? Currently, the only method of obtaining clay to move to the Fired Crucible is by waiting for an Iron Bucket or waiting for rain (which is why the Wooden Crucible was initially created so you did not have to wait for those 2 things and speed

[2021-02-27 03:36] NovaMachina commented on #125
Yeah, this looks like a bug. I would have expected that to work, but guess not.

[2021-02-27 21:12] lazynessmind opened #131 "Barrel Bug"
**Describe the bug**
When inserting items with external mods pipes the item isn't extracted from the inventory.

**Mod used:** Refined Pipes.

**To Reproduce**
Steps to reproduce the behavior:
1. Place Barrel
2. Place a item pipe beside the barrel
3. Place a chest beside the pipe.
4. Then when the barrel is filling nothing is getting extracted from the inventory that the pipe is connected to.

**E

[2021-02-27 21:34] remplerus commented on #131
i think it is fixed with the newest version, can you try it with version 2.0.2.1?

[2021-02-28 07:04] NovaMachina commented on #127
It was my intention that the wooden crucible have a base melting speed and that a heat source could speed it up. I'm surprised this is just now coming up.

[2021-02-28 20:37] NovaMachina commented on #128
Thank you for the suggestion. I don't plan on building this feature in the near future because of the relative ease of getting iron from sieving and an upcoming fix to the wooden crucible that will allow for creation of water without a heat source. If the current drop rate of items that help to progress game play are not to your liking you are more than welcome to adjust the rates through a datapa

[2021-02-28 20:37] #128 closed, assigned to NovaMachina

[2021-02-28 21:36] Darkosto commented on #128
Would you be willing to extend out the datapack functionality to allow crucible recipes to made with an item output rather than only liquid outputs? For example:

[code]

But with a type as a crucible then setting the crucible to wooden or fired?

[2021-03-01 04:37] CroshB opened #132 "Allow configuring/disabling The One Probe info"
**Is your feature request related to a problem? Please describe.**
In a pack I'm developing I want to display minimal information on the The One Probe hud, however, the info from this mod can't be disabled, so I would like to be able to configure that.

**Describe the solution you'd like**
I suggest adding ways of configuring what shows up or not in the config file, however, I understand that maki

[2021-03-01 05:14] NovaMachina commented on #128
The functionality that you are requesting already exists using the barrel. The crucible's primary purpose is to break down items into fluids. The barrel's primary purpose is to create items/entities/fluids. For this reason, I would like to keep the two ideas separate.

[2021-03-01 05:16] NovaMachina commented on #132
There are different levels of probes that I believe I can assign HUD display to. Would this work for you? Or are you looking for more fine grained control over the HUD?

[2021-03-01 05:33] CroshB commented on #132
In the configuration for The One Probe I can set each kind of information to either `"NOT"` (0), `"NORMAL"` (1) or `"EXTENDED"` (2). If that's what you mean by levels of probe, it would work for me.

[2021-03-01 05:55] NovaMachina commented on #132
I can make that happen. Did you want certain things to be visible at different levels?

[2021-03-01 06:02] CroshB commented on #132
In my case I'll probably use the same level for all types of information

[2021-03-01 21:11] Darkosto commented on #120
I just tested this using both mods (along with about 80 others) and cannot reproduce this. I did exactly what was described and mimicked the video. Looks like it was fixed on Cyclic's end and not an issue any longer

[2021-03-01 21:15] justinrusso commented on #120
This was a bug on Cyclic's end and should be fixed in Cyclic 1.17+. I believe this issue can be closed.

[2021-03-01 21:17] Darkosto opened #133 "Most Blocks Do Not Properly Light Up During Night Time"
**Describe the bug**
During Nighttime, most blocks (barrels, sieves) are responding only to sky light and not block light such as torches.

**To Reproduce**
Steps to reproduce the behavior:
1. Place sieve at night
2. sieve a block

**Expected behavior**
If an area is lit by blocks, the lighting should not be dark

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image

[2021-03-01 21:18] jinkhya commented on #120
Cyclic closed the issue on their GitHub. They fixed a dupe bug in 1.1.7 so this issue is probably no longer a thing. Haven't tried the update yet myself.

[2021-03-01 21:19] jinkhya commented on #120
I'll close this. Can reopen if this still happens.

[2021-03-01 21:19] #120 closed, assigned to NovaMachina

[2021-03-01 23:38] Darkosto opened #134 "Ancient Spores Convert ANY Block to Mycelium"
**Describe the bug**
Right click Ancient Spores on any block and it will convert to Mycelium

**To Reproduce**
Steps to reproduce the behavior:
1. right click a block with Ancient Spores.

**Expected behavior**
Only dirt to convert to Mycelium

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.0.43
Ex Nihilo: Seque

[2021-03-04 04:11] BoloYon opened #135 "ExNihiloSequentia Causes My Game to Crash While Booting up"
"The game crashed whilst initializing game
Error: net.minecraftforge.fml.ModLoadingException: Ex Nihilo: Sequentia (exnihilosequentia) encountered an error during the common_setup event phase
Exit Code: -1" This is what the crash report says

**To Reproduce**
1. Download SkyBees Modpack through the CurseForge application on Windows 10
2. Click play, you should be in the Minecraft Launcher
3. See e

[2021-03-04 04:18] NovaMachina commented on #135
This is an issue with the Mekanism add on. Please update to the latest version of the Mekanism add on.

[2021-03-04 04:18] #135 closed, assigned to NovaMachina

[2021-03-04 20:03] ProfessorBustanut opened #136 "please add mesh fortune and efficiency"
sorry about not following template but i dont know any of that stuff
old exnihilo had fortune and efficiency on meshs so i think ex nihilo sequentia should also

[AB#104](https://dev.azure.com/novamachina/9b4371f9-393b-4d7d-8cb9-1f6c864e3511/_workitems/edit/104)

[2021-03-04 21:11] remplerus commented on #131
actually, i have recreated your example, it extracts the dirt well, BUT the saplings arent pulled out of the chest if there are more than one sapling.
(tested with Exnihilo 2.0.2.1 and Refined Pipes 0.5 on Minecraft 1.16.5)
But i think thats a bug from refined pipes

[2021-03-05 16:05] SeanLatimer opened #138 "Null pointers when barrels/curcibles placed near each other"
**Describe the bug**
Null pointer exceptions are being spammed in logs on clients when 2 barrels/crucibles are placed within 10 blocks of each other

**To Reproduce**
Steps to reproduce the behavior:
1. Place barrel or curcible
2. Place another inside 10 blocks range of the original

**Expected behavior**
To not get null pointers

**Version**
Minecraft Version: 1.16.4
Forge Version: 35.1.37
Ex Nih

[2021-03-05 17:21] BeastPotato commented on #118
I just set up a knew instance, and look it works now, although i didnt change anything else

[2021-03-05 17:21] #118 closed, assigned to NovaMachina

[2021-03-05 20:57] #123 closed, assigned to NovaMachina

[2021-03-05 20:57] #125 closed, assigned to NovaMachina

[2021-03-05 20:57] #126 closed, assigned to NovaMachina

[2021-03-05 20:57] #127 closed, assigned to NovaMachina

[2021-03-05 20:57] #133 closed, assigned to NovaMachina

[2021-03-05 20:57] #134 closed, assigned to NovaMachina

[2021-03-05 20:58] #124 closed, assigned to NovaMachina

[2021-03-05 20:58] #95 closed, assigned to NovaMachina

[2021-03-05 22:18] Darkosto opened #140 "Ancient Spores Are Used Up When Selecting Any Block"
**Describe the bug**
When right-clicking any block the Ancient Spore seeds will be used up.

**To Reproduce**
Steps to reproduce the behavior:
1. Obtain Ancient Spore
2. Right-click any block (not dirt) with ancient spore in hand
3. Spore is used up

**Expected behavior**
If the block is not transformable to Mycellium, the seed should not be used up

**Screenshots**
If applicable, add screenshots

[2021-03-05 22:58] #140 closed, assigned to NovaMachina

[2021-03-05 23:09] Darkosto opened #141 "Bottles Should Pull 333mb of Water From Crucible"
**Describe the bug**
The way you have bottles setup currently can create a water duplication issue. This is normally fine since you can dupe water in vanilla, but will pose an issue with some modpacks that limit infinite water sources. I can create a powerless machine that dupes water relatively quickly by extracting from your wooden crucible and adding it to a Vanilla Cauldron. A Cauldron fills u

[2021-03-05 23:11] Darkosto opened #142 "Water Bottles Cannot Insert Into Barrels or Crucibles"
**Describe the bug**
Thank you allowing bottles to pull from the Wooden Crucible. Unfortunately, that water cannot be used in a Barrel or put back into the Crucible so it's not usable within the Ex Nihilo system.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to add water from a Water Bottle into any Ex Nihilo Barrel or Crucible

**Expected behavior**
If you are able to extract, you

[2021-03-06 11:44] lazynessmind commented on #131
yeah, something is acting weird.

[2021-03-06 11:53] lazynessmind commented on #131
still acting the same in 2.0.2.3
so it maybe is the refined pipes.

[2021-03-06 12:42] remplerus commented on #131
it is definitly refined pipes, i dont know whats causing it, but i think it just looks for storage with more than one space

[2021-03-06 12:57] lazynessmind commented on #131
yeah, because the pipe is responsible for the extraction and inserting. the barrel only has the inventory.
and if you use hoppers it works fine.

[2021-03-06 12:57] #131 closed, assigned to NovaMachina

[2021-03-06 20:14] Lolam33 opened #144 "Infinite Gravel, Sand, Dust"
**Describe the bug**
When you have 1 stack of Gravel, Sand or Dust in the inventory (otherwise full inventory) and 1 stack of the same material on the sieve and start sifting you will get unlimited refills of the material.

**To Reproduce**
1. Put an item in every slot of your inventory
2. Take 2 stacks of a sievable item
3. Put 1 stack in your inventory and 1 stack on the sieve
4. Start sieving
5

[2021-03-06 20:18] Irgendwer01 commented on #144
@Lolam33 Duplicate of #120

[2021-03-06 20:27] #144 closed, assigned to NovaMachina

[2021-03-07 06:42] Pupun2542 opened #145 "Mekanism's logistic transporter and barrel"
when I use Mekansim's logistic transporter input seeds into barrels they didn't consume any seeds but they do produce dirt for me. I don't know where to report this bug so I decided to report both Ex Nihilo and Mekanism.

Thank you

[2021-03-07 08:50] Pupun2542 commented on #145
Release 1.16.5-forge-36.0.43
Mekanism-1.16.5-10.0.21.448
exnihilosequentia-1.16-2.0.2.3

Steps to reproduce:
1. Place a barrel and 2 chest
2. Connect chests and barrel with logistical transporter input a stack or two any seeds
3. Quit the world and enter it again

[2021-03-07 11:44] remplerus commented on #145
couldnt reproduce that exact bug, but the barrel uses "virtual" saplings that it shouldnt have.
E.g. for 3 dirt, it uses not 24 saplings. it uses (depends on pipe) between 4 and 24 saplings, but never exact 24 saplings.

[2021-03-07 12:06] DreaminBoi opened #146 "Blast Furnace compatibility for the ore chunk"
**Is your feature request related to a problem? Please describe.**
Since vanilla added a new kind of specialization furnace that specialize in speeding up ore to ingot furnace, it's been a time saver and great for early fast smelting before you get into other tech mod
**Describe the solution you'd like**
It would be cool to allows the ore chunk to be allowed to be smelted in the blast furnace like

[2021-03-07 22:50] StealthHydra179 opened #148 "Skybees error code 255"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error
Download Skybees from curseforge, run it.

**Expected behavior**
A clear and concise description of what you expected to happen.
run? open? not crash?

**Screenshots**
If applicable, add screenshots t

[2021-03-07 23:33] NovaMachina commented on #148
Duplicate of #119. Please update the Mekanism Addon where the bug exists.

[2021-03-07 23:33] #148 closed, assigned to NovaMachina

[2021-03-09 00:56] #146 closed, assigned to NovaMachina

[2021-03-09 05:26] toruPuchuu opened #149 "Netherite mesh should be made from emerald mesh"
**Describe the bug**
Netherite mesh is made from diamond mesh instead of emerald mesh. This is not the expected progression.

**To Reproduce**
n/a
**Expected behavior**
Make netherite mesh from emerald mesh instead of diamond mesh.

**Screenshots**
n/a

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.0.42
Ex Nihilo: Sequentia Version: 1.16-2.0.2.3

**Additional context**
n/a

[2021-03-09 05:36] toruPuchuu opened #150 "Request support for making 1.16 Nether Update blocks"
**Is your feature request related to a problem? Please describe.**
Can't make Nether Update blocks using Ex Nihilo Sequentia.

**Describe the solution you'd like**
A way to make blackstone, gilded blackstone, basalt and crying obsidian using Ex Nihilo Sequentia.

**Describe alternatives you've considered**
I am currently working around this with CraftTweaker. (Ex Nihilo Sequentia + CraftTweaker wo

[2021-03-11 01:23] toruPuchuu commented on #150
Also Ancient Debris

[2021-03-11 23:43] NovaMachina opened #152 "Configurable Ore Item Colors"

[2021-03-12 23:12] Yourname942 opened #153 "Crucible Rendering Issue Causing Crash"
**Describe the bug**
Rendering issues are causing the player to instantly crash whenever he  is in the area of the crucible in question.

**To Reproduce**
Steps to reproduce the behavior:
1. make a cobblestone generator
2. make a cooked crucible (forgot the name)
2. use cyclic item pipes into the top of the crucible
3. feed cobblestone into it via cyclic item cable
4. feed lava into magmatic dynam

[2021-03-12 23:43] ModernGamingWorld commented on #153
According to what your saying is you updated mods and then the crash happened, Id suggest downgrading those mods and updating them 1 at a time and see if what ones cause the crash

[2021-03-12 23:46] remplerus commented on #153
actually the crash log says that one block is rendered as a unfired crucible, what should not happen, but i would suggest to do the thing mentioned above

[2021-03-14 02:39] Hoff2567 opened #154 "Option for maximum clicks per second on a sieve"
Looking to adjust the sieves to slow them down in my pack to make it competitive with other manual options and was hoping for the ability to control it via config similar to how ex compressum does it. Totally understand if it's not possible with the way you're handling anti-auto-clicking just wanted to toss it out there in case it is.

[2021-03-14 23:32] ModernGamingWorld opened #156 "Animal Seeds"
Cow Seed, When it Hits Max Growth that it will spawn 1 cow
Chicken Seed, When it Hits Max Growth that it will spawn 1 chicken
Horse Seed, When it Hits Max Growth that it will spawn 1 Horse
Slime Seed, , When it Hits Max Growth that it will spawn 1 Slime
Wooden Cow Seeds, When it Hits Max Growth that it will spawn 1 Wooden Cow(This only Works if  Wooden Utils is installed Alongside this mod
Wooden

[2021-03-16 14:11] Valdan20 opened #157 "Configurable Dools"
Is there a posibility that we can config or add dools to spawn custom animals such as resourceful bees?

[2021-03-19 11:15] liuseniubi opened #158 "Can't load CraftTweaker script."
**Describe the bug**
Can't load CraftTweaker script.

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.1.1
Ex Nihilo: Sequentia Version: exnihilosequentia-1.16-2.0.2.3

**Additional context**
The script and the lasted.log is included in following link.
https://paste.ubuntu.com/p/QMJQZ7T9cz/

[2021-03-19 17:46] Darkosto opened #159 "Fire Does Not Appear in JEI Heat Sources"
**Describe the bug**
When searching JEI for heat types/sources for the Fired Crucible, Fire does not render or appear. I've confirmed this with the mod alone. There is no indication to the player that Fire is a useable heat source.

**To Reproduce**
Steps to reproduce the behavior:
1. Look it up in JEI

**Expected behavior**
Some type of indication that Fire can be used to heat a Crucible

**Scree

[2021-03-20 06:52] ghost opened #160 "Missing Textures from Sieves/Crucible"
**Describe the bug**
Adding compressed blocks from Ex Compressum to the Sieve recipes and Cactus to the Crucible recipes produce missing textures

**To Reproduce**
Steps to reproduce the behavior:
1. Add compressed blocks/cactus to sieve/crucible recipes
2. load via datapack loader
3. See error

**Expected behavior**
To see regular texture in sieve/crucible not the missing texture

**Screenshots**

[2021-03-22 07:44] tsuuii opened #161 "sorting autosieve inventory voids mesh"
**Describe the bug**
mesh voiding with inventory sorting

**To Reproduce**
make autosieve
place mesh
sort inventory (usually mouse middle click)
mesh voided

**Version**
Minecraft Version: 1.16.5
atm6 to the sky 1.0.3c

[2021-03-22 10:58] remplerus commented on #161
well  that sounds like a bug, but you mentioned not enough information. as far as i can tell, you use ex nihilo, ex compressum and inventory sorter (or some kind of it) and i dont think its a problem of ex nihilo. make an issue on inventory sorter github

[2021-03-23 04:47] ModernGamingWorld opened #162 "[Features Planned For This Mod] This is a list of things talked about on discord that might be coming"
Different tier Crucibles(Each tier will have a different speed boost)
- Iron = 16x buckets
- Diamond = 32x buckets
-  Emerald = 64x Buckets
- Netherite = 128x Buckets

Modded Wood support for Sieves, Barrels, Crucibles, Crooks
-  Oh Biomes Ya Go
-  Biomes O Plenty
-  All Abnormal wood

Latest Suggestions
- All Crooks being Able to have enchants added to them
- Animal seeds of some kind
-  New Silk

[2021-03-23 21:45] ModernGamingWorld commented on #159
Should be Fixed in Next update

[2021-03-24 15:54] ds3919 opened #163 "Continuous Crash on loading of the world"
**Description**
(By the way I am playing All The Mods 6 To The Sky)
So pretty much I was playing and I am not sure what happened but I think it has something to do with fired crucibles because the last thing I was doing was attaching mekanism mechanical pipes to fired crucibles and that is when my game froze and then crashed. Now whenever I try to load up the world, it either crashes on "Joining W

[2021-03-24 23:11] remplerus commented on #163
just 3 sentences to the "pipe bug".
- I've tested 4 pipe mods and am testing xnet next.
- I've found out, that only pipez is working perfectly, all other mods (mekanism, refinedpipes and prettypipes (this one i havent figured out, how it is working)) have problems like not pushing the right amount of seeds/saplings/stone into the crucibles and barrels or not even interacting with those (special th

[2021-03-24 23:23] ds3919 commented on #163
so is there any possible way to fix or should I just play from an older backup

[2021-03-25 00:04] WhitePhant0m opened #164 "Barrels and Mekanisms Logistical Transporters combo produces stuff out of thin air."
**Describe the bug**
Mekanisms Logistical Transporters don't use the stuff they send into barrels, creating stuff out of thin air.

**To Reproduce**
Check additional context.

**Expected behavior**
For barrels to not create stuff out of thin air.

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.0.46
Ex Nihilo: Sequentia Version: 2.0.2.3
Mekanism Version: 10.0.21.448

**Additional context**

[2021-03-25 07:41] T0mt4ru opened #165 "Infested leaves don't have a specific tool"
When using no tree punching, infested leaves become unbreakable due to the lack of a defined breaking tool.

As a solution, I propose having the hoe/crook or shears be the tool of choice.

[2021-03-26 21:33] remplerus commented on #163
[Copy_of_First.zip](https://github.com/NovaMachina-Mods/ExNihiloSequentia/files/6214439/Copy_of_First.zip)
i have successfully removed the fluid pipes, that should work like it should

[2021-03-27 02:34] remplerus commented on #164
we know this and try to find the issue on our side, but it might be a bug with any pipes except for the Pipez mod. Also, do an issue report on mekanism github so they can also investigate and try to fix the bug on their side, if possible.

[2021-03-27 02:36] remplerus commented on #158
can you also add crafttweaker version, so we can try that ourselves?

[2021-03-27 08:55] liuseniubi commented on #158
CraftTweaker-1.16.5-7.1.0.176

[2021-03-27 08:56] liuseniubi commented on #158
CraftTweaker-1.16.5-7.1.0.176

[2021-03-27 23:16] DarkIlluminatus opened #167 "Sea water does not act like water"
**Describe the bug**
As in the title, sea water does not act like a fluid when placed.

**To Reproduce**
Steps to reproduce the behavior:
1. Place sea water block from bucket or from builder placing liquids shape card
2. Water appears and moves like water, however moving through it is like moving through air.

**Expected behavior**
Water appears and moves like water and can be swam in and sea plan

[2021-03-29 05:25] tyler489 commented on #167
I believe this is because water "checks" are hard coded in 1.16. alot of mods have this issue.

it also applies to witch water

[2021-03-29 13:37] pupnewfster commented on #164
It took me less time to find the bug in your code using github than it took me to finish brushing my teeth.... You guys entirely ignore the simulate flag for inserting items and insert them when mods simulate to see how much can actually be inserted... https://github.com/NovaMachina-Mods/ExNihiloSequentia/blob/1.16/src/main/java/novamachina/exnihilosequentia/common/tileentity/barrel/BarrelInventor

[2021-03-29 22:28] remplerus commented on #167
until adding them to minecraft tag water, there's no other solution due to mojang's wonderful code

[2021-03-29 23:35] DarkIlluminatus commented on #167
Thanks for recommending this fix.

[2021-03-30 12:49] benbenlaw opened #168 "hoppers double item input"
**Describe the bug**
making dirt requires 8 blocks of leaves (125/1000) using right click by player
using a hopper only requires 4 blocks making (250/100) instead of 125

**To Reproduce**
Steps to reproduce the behavior:
1. place barrel
2. place hopper on top with 4 leaves
3. wait
4. get dirt for half the price!

**Expected behavior**
same values as player (8 blocks)

**Screenshots**

**Version**

[2021-04-01 18:31] pm065 opened #169 "(1.16) CraftTweaker integration for crooking is broken"
The CraftTweaker integration for crooking is broken. Original and full report on CraftTweaker github (was told to bring it here, and I don't want to type a full report all over again):
https://github.com/CraftTweaker/CraftTweaker/issues/1226

[2021-04-01 18:33] NovaMachina commented on #169
Duplicate of #158.

[2021-04-01 18:33] #169 closed, assigned to NovaMachina

[2021-04-02 16:52] remplerus commented on #161
https://github.com/reo-ar/InvTweaksRenewed/issues/47

[2021-04-05 00:56] NovaMachina commented on #159
I'm having issues rendering fire in the slot, but I've replaced the empty slot with flint and steel

[2021-04-05 21:33] Darkosto opened #170 "JEI Does Not Display Custom Liquids in JEI Usage Window"
**Describe the bug**
When adding a custom heating liquid to the crucibles, JEI will not render the fluid. Since there is no image or tooltip, it is unknown as to what these heating elements could be

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom heating fluid recipe
2. Open JEI

**Expected behavior**
When adding new fluids, it should have some indicator to let players know w

[2021-04-10 01:25] Angular-Angel opened #172 "Silk Worms do not compost in Vanilla Composter"
Hallo again! Excellent fixed to my earlier bug reports, but I have a new one for you. That is, silk worms, and likely many other items, can be composted via an Ex Nihilo barrel, but not via the vanilla composter. I would reccommend either that you add them, and maybe unify things so that items registered for the vanilla composter are automatically registered for the Ex Nihilo barrel composting, or

[2021-04-11 08:48] VenoPhage opened #173 "[1.16.5] soul fire doesnt work for the crucible"
Soul fire doesn't produce any heat for the crucible
(https://user-images.githubusercontent.com/73802442/114297864-5f405b80-9a70-11eb-8243-ddc67afee1c2.png)

[2021-04-12 12:59] mpavkovic opened #174 "Hostile mobs can spawn on infested leaves"
Hostile mobs can spawn on infested leaves. I would expect infested leaves to be treated as transparent blocks same as vanilla leaves so no mobs can spawn on them.

You can see on the screenshot with light overlay that mobs can spawn on them, and I've also witnessed it happening.
![infested-leaves-spawn-hostile-mobs](https://user-images.githubusercontent.com/803875/114399118-de34b180-9ba0-11eb-9a18

[2021-04-12 18:12] ChubbsWasTaken opened #175 "Ex Nihilo instant crash"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place Fired Crucible
2. Right click on Fired Crucible with cobblestone
3. Crash

**Expected behavior**
i expected it to work normally and not crash me

**Screenshots**
none available as it crashed

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.1.0
Ex Nihilo: Sequ

[2021-04-12 19:06] remplerus commented on #175
the version has a name and not a date, but its fixed in dev branch, wait for release.

[2021-04-13 06:57] ChubbsWasTaken commented on #175
@remplerus sorry, the guidelines had a date and not a version number (if i understand correctly).
thanks for fixing it

[2021-04-13 06:57] #175 closed, assigned to NovaMachina

[2021-04-17 02:09] #149 closed, assigned to NovaMachina

[2021-04-17 02:09] #141 closed, assigned to NovaMachina

[2021-04-17 02:09] #153 closed, assigned to NovaMachina

[2021-04-17 02:09] #158 closed, assigned to NovaMachina

[2021-04-17 02:09] #159 closed, assigned to NovaMachina

[2021-04-17 02:09] #163 closed, assigned to NovaMachina

[2021-04-17 02:09] #160 closed, assigned to NovaMachina

[2021-04-17 02:09] #164 closed, assigned to NovaMachina

[2021-04-17 02:09] #172 closed, assigned to NovaMachina

[2021-04-17 02:09] #173 closed, assigned to NovaMachina

[2021-04-17 02:09] #170 closed, assigned to NovaMachina

[2021-04-17 02:10] #167 closed, assigned to NovaMachina

[2021-04-17 02:11] #142 closed, assigned to NovaMachina

[2021-04-17 02:52] NovaMachina commented on #145
Should be fixed in latest version.

[2021-04-17 02:52] #145 closed, assigned to nobody

[2021-04-17 04:11] #150 closed, assigned to NovaMachina

[2021-04-17 10:28] remplerus opened #181 "Composting by hand doesnt work"
**Describe the bug**
Nothing can be composted with newest version of ex nihilo.

**To Reproduce**
Steps to reproduce the behavior:
1. Place barrel
2. Compost anything
3. Just shows 0 / 1000 Composting

**Expected behavior**
Should compost

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.1.3
Ex Nihilo: Sequentia Version: 2.0.2.4

[2021-04-17 17:27] #181 closed, assigned to NovaMachina

[2021-04-20 15:19] remplerus commented on #168
@NovaMachina this one's fixed too

[2021-04-20 15:19] #168 closed, assigned to NovaMachina

[2021-04-21 18:01] NovaMachina commented on #161
Is this an issue with the auto sieve from Ex Compressum or with the sieve from Ex Nihilo?

[2021-04-21 20:07] remplerus commented on #161
[this is in autosieve with exnihilo mesh](https://github.com/blay09/ExCompressum/issues/309)

[2021-04-25 10:35] MelanX opened #186 "Your code doesn't work as intended"
https://github.com/NovaMachina-Mods/ExNihiloSequentia/blob/1.16/src/main/java/novamachina/exnihilosequentia/common/tileentity/SieveTile.java#L153-L165

This will make it impossible to set the player on fire. You should move line 159-165 under line 154 or put this above line 154.
Like this:
[code]

or this

[code]

Personally, I prefer solution one.

[2021-04-25 16:00] hermankyhn opened #187 "Lava cannot be placed in a stone barrel"
**Describe the bug**
Witch water/Lava cannot be placed in a stone barrel. (the same applies to the wooden barrel, although the wooden barrel should not accept lava)
Note: water can be placed in the barrel and works as intended

**To Reproduce**
Right-clicking a stone barrel with a bucket of lava/bucket of witch water.

**Expected behavior**
The stone barrel should be filled with lava/witch water r

[2021-04-25 16:03] remplerus commented on #187
[this is the pr](https://github.com/NovaMachina-Mods/ExNihiloSequentia/pull/184)

[2021-04-27 20:59] trogarus opened #188 "Datapack Question 1-16"
After reading https://ex-nihilo-sequentia.readthedocs.io/en/1.16/data_pack/ and https://github.com/NovaMachina-Mods/ExNihiloSequentia/blob/1.16/docs/data_pack.md I'm still a bit confused about the file structure and json file names needed to affect the datapack over rides. If someone could kindly educate me, and maybe update the pages in question, it would be much appreciated. Sorry if this is alr

[2021-04-27 22:14] remplerus commented on #188
pretty easy.
the datapack has to be something like this:
/yourdatapackname/data/exnihilosequentia/<folder that shows, what you want to add>/<name of the object you add>.json
e.g. /rempler/data/exnihilosequentia/heat/uranium_block_op.json
just paste the thing you want to add like compost, heat, fluidtransform etc.
you can also look at the resources of exnihilo [here](https://github.com/NovaMachina-

[2021-04-28 01:49] DrUse1 opened #189 "FluidItem with fluid output"
I'm making a modpack and I would like to use the FluidItem recipe (with kubejs) to get oil but it's the recipe type only output ItemStack

Recipe example :

{
  "type": "exnihilosequentia:fluid_item",
  "fluid": {
    "fluid": "minecraft:water"
  },
  "input": {
    "item": "minecraft:coal"
  },
  "result": {
    "**fluid**": "pneumaticcraft:oil"
  }
}

[2021-04-28 10:16] remplerus commented on #189
use fluid transformation instead of fluid item

[2021-04-28 18:15] DrUse1 commented on #189
How do I make the transform instant ?

[2021-04-28 18:34] trogarus commented on #188
The link is much helpful. Much appreciated.

[2021-04-28 18:49] trogarus commented on #188
To be clear, for example, if I wanted to add a crucible heat source, it would be /yourdatapackname/data/exnihilosequentia/heat/uranium-block.json with the heat data in the json file correct?

[2021-04-28 18:51] remplerus commented on #188
yes

[2021-04-28 18:53] trogarus commented on #188
Thanks much for your time and assistance.

[2021-04-28 18:57] #188 closed, assigned to nobody

[2021-04-28 18:59] remplerus commented on #189
only way is to set it to 1 second in config, just set a number at "secondsToTransformFluid" greater than 1
maybe in the future we add the time to the json but atm the config is the only way

[2021-04-28 20:37] DrUse1 commented on #189
ok thanks !

[2021-04-28 20:37] #189 closed, assigned to NovaMachina

[2021-04-29 19:30] SpeedWeed17 opened #190 "Wooden Crucible crashes my game"
[crash-2021-04-29_21.49.32-server.txt](https://github.com/NovaMachina-Mods/ExNihiloSequentia/files/6401119/crash-2021-04-29_21.49.32-server.txt)

[2021-04-30 17:51] NovaMachina commented on #186
Yeah, I realized this and never went back and fixed it. I'll probably do that now. Thanks.

[2021-04-30 18:05] #187 closed, assigned to NovaMachina

[2021-05-07 03:58] printidentity opened #193 ""Carry On" mod allows mesh duplication"
The Carry On mod allows you to duplicate an infinite amount of meshes.

Pick up the sieve with a mesh in it (shift right-click), put the sieve back down, then pick it up again, repeat.
Sieve will drop another mesh every time you pick it up.

Sieve is picked up with mesh, and is put back down with mesh, sieve does not drop any meshes.

Minecraft Version: 1.16.5
Forge Version: 36.1.0
Ex Nihilo: Sequ

[2021-05-07 07:16] remplerus commented on #193
Duplication of #50

[2021-05-10 05:44] DatrixTHLK opened #196 "Composting Kelp 1.16.5"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I can't compost kelp.

**Describe the solution you'd like**
I'd like to be able to compost kelp

**Describe alternatives you've considered**
I don't know of any mods that do this or a config file for ex nihilo sequentia to configure new composting recipes.

[2021-05-10 19:20] Darkosto opened #199 "Allow Flowing Liquid Custom Values to be Used in Crucible Heating Recipes"
**Is your feature request related to a problem? Please describe.**

Allowing the difference of source blocks and flowing blocks will help balance the mechanic of melting in a crucible. Currently, any liquid used can provide full speed which can severely limit design choices.

**Describe the solution you'd like**
It would be best if we could set a recipe using the liquid level to assign a specific

[2021-05-13 09:40] minutus0815 opened #200 "Fired Crucible shows error instead of smelting information when used on Forge Server"
When trying to smelt cobblestone in a crucible an error appears when the crucible is focused (Hwyla/TOP). The cobblestone seems not to smelt. If you wait for a while and try to pull lava out, the buckit will not have lava in it.
Running the server world on client showed me: it worked there and the cobble was about to smelt.

This only appears on a server, client side works pretty fine.

**To Repro

[2021-05-15 14:10] joker876 opened #201 "Clay Buckets from "Ceramics" mod don't work with barrels/wood crucibles"
**Describe the bug**
Clay Buckets from the Ceramics mod don't work when trying to insert/take water to/from barrels and wooden crucibles.

**To Reproduce**
Steps to reproduce the behavior:
1. Try taking water from a barrel using the clay bucket from the Ceramics mod (or try putting the water into the barrel)

**Expected behavior**
Self explanatory, I think.

**Version**
Minecraft Version: 1.16.5
F

[2021-05-18 03:03] #156 closed, assigned to NovaMachina

[2021-05-18 03:04] ModernGamingWorld commented on #193
Fixed By @remplerus and should be fixed in the Next Release

[2021-05-18 03:12] #91 closed, assigned to NovaMachina

[2021-05-18 03:12] #20 closed

[2021-05-18 03:17] #97 closed, assigned to NovaMachina

[2021-05-18 03:18] #98 closed, assigned to NovaMachina

[2021-05-18 03:22] #196 closed, assigned to NovaMachina

[2021-05-18 03:23] #174 closed, assigned to NovaMachina

[2021-05-18 03:24] #193 closed, assigned to NovaMachina

[2021-05-18 03:24] #162 closed, assigned to nobody

[2021-05-18 03:25] #138 closed, assigned to NovaMachina

[2021-05-18 03:25] #152 closed, assigned to NovaMachina

[2021-05-19 01:58] laceflower opened #202 "[Compat] Crooks don't multiply drops from Dynamic Trees leaves"
**Describe the bug**
When crooking leaves from Dynamic Trees trees, the crook doesn't multiply the drops given.

**To Reproduce**
Steps to reproduce the behavior:
1. Grow a tree from a DT seed
2. Break leaves from the tree with a crook
3. Most leaves will fall to drop anything

**Expected behavior**
DT leaf drops get rolled multiple times

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.1.

[2021-05-19 03:04] deadspidervenom opened #203 "Dispensers can't dispense sea/witch water"
**Describe the bug**
Dispensers can't dispense sea/witch water

**To Reproduce**
Steps to reproduce the behavior:
1. Place Dispenser
2. Put bucket of sea/witch water into dispenser
3. power dispenser with redstone

**Expected behavior**
the water to be dispensed and picked up.

**Version**
Minecraft Version: 1.16.5
All the mods skyblock modpack

[2021-05-25 09:05] remplerus commented on #190
problem is, i cant recreate the issue. if its possible, can you pack the corrupted world and send it to us, so we can investigate and solving the issue? (or atleast make a workaround)

[2021-05-25 09:08] remplerus commented on #161
issue is solved by invtweaks, just wait for release of new version.

[2021-05-25 09:10] remplerus commented on #200
can u screenshot the error?

[2021-05-25 09:24] minutus0815 commented on #200
Place a crucilbe
right-click with cobblestone in hand
![Before-right click](https://user-images.githubusercontent.com/84126793/119473666-ad24d080-bd4b-11eb-8a2e-19d2afe9e6dd.png)
Error appears, no smelting visible
![After-right-click](https://user-images.githubusercontent.com/84126793/119473735-bd3cb000-bd4b-11eb-9025-589866ba1a09.png)

Hope it helps

[2021-05-26 03:08] #161 closed, assigned to NovaMachina

[2021-05-26 03:30] NovaMachina commented on #200
I've followed the steps that you've given, but I cannot reproduce it. Also, you don't have a heat source below the crucible which is why its not melting the cobblestone.

[2021-05-26 03:50] NovaMachina commented on #201
Unfortunately this is not something that I can fix because of the way that Ceramics has implemented their buckets.

[2021-05-26 04:53] NovaMachina commented on #202
The crook only multiplies drops of blocks that are considered "crookable". These blocks are defined by datapacks/CraftTweaker recipes. Any block that has a crook recipe will be considered "crookable". In order for Dynamic Trees leaves to be considered "crookable" you will need to add a recipe for them, for with the results could be empty and it would simply multiply the drops.

[2021-05-26 04:54] NovaMachina commented on #202
Otherwise, the standard loot table will apply with no multiplication.

[2021-05-26 04:54] #202 closed, assigned to NovaMachina

[2021-05-26 06:22] minutus0815 commented on #200
It is a pity, but I'd say if you can't reproduce it there is nothing you can do. I fear this might be caused by any other element outside of ex nihilo.

PS: Of course, there is a heat source beneath the crucible ;o)

[2021-05-28 18:59] ProfessorBustanut opened #212 "Createmod patch"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
N/A
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
limesand is made from crushing sand the same as dust i think it should be sift able the same as dust
**Describe alternatives you've conside

[2021-05-29 23:38] Angular-Angel opened #213 "Feature Request: Tetra Compatibility"
**Is your feature request related to a problem? Please describe.**
So I like to use both Ex Nihilo and Tetra, but the two have relatively poor compatibility together. In particular, they both have hammers with overlapping recipes, and ex nihilo adds a number of tools that cannot be repaired, upgraded, or customized via Tetra.

**Describe the solution you'd like**
Create a compatibility mod that wi

[2021-05-31 11:53] Ancientmelon opened #214 "Possibilty to enchant meshes"
**Is your feature request related to a problem? Please describe.**
I always liked to enchant my meshes in the 1.12 version. It added a different way of upgrading your
sieves apart from using auto sieves or a big sieve array.

**Describe the solution you'd like**
It would be really nice if you would bring back the enchants from 1.12 like:
-sieve efficiency
-sieve fortune
-sieve luck of the sea

**D

[2021-05-31 13:11] NovaMachina commented on #212
A recipe can be created that has limesand as the input that would make it siftable.

[2021-05-31 13:11] #212 closed, assigned to NovaMachina

[2021-05-31 13:11] #200 closed, assigned to NovaMachina

[2021-05-31 13:12] #190 closed, assigned to NovaMachina

[2021-05-31 13:34] remplerus commented on #214
duplication of #136

[2021-05-31 13:34] #214 closed, assigned to NovaMachina

[2021-06-04 17:10] Darkosto commented on #80
It would be pretty useful in my opinion to allow to amount of stacked meshes to be configurable in the config file.

[2021-06-06 02:34] niemandvs opened #216 "config reading issue Compost"
**Is your feature request related to a problem? Please describe.**
there is a configreading  thing thats not so important but its annoying:

#Compost Configs
	[barrel.compost]
		#Number of seconds to spawn mobs (Default: 10)
		#Range: > 1
		secondsToCompost = 10

**Describe the solution you'd like**
#Compost Configs
	[barrel.compost]
		#Number of seconds to **### compost** (Default: 10)
		#Range:

[2021-06-07 09:53] jinkhya opened #217 "Client bandwidth usage caused by barrels and crucibles"
**Describe the bug**
Hello, this is a rather weird issue but it looks like when playing on a server, the more you place barrels/crucibles, the more your client uses download bandwidth constantly. For testing purposes I placed a bunch of them and was able to cap my bandwidth (which is 6.5Mbps, yes I know my internet is crap which is why I noticed something was wrong :P )

**To Reproduce**
Steps to

[2021-06-07 13:46] #186 closed, assigned to NovaMachina

[2021-06-07 13:46] #132 closed, assigned to NovaMachina

[2021-06-07 13:46] #154 closed, assigned to NovaMachina

[2021-06-07 13:46] #165 closed, assigned to NovaMachina

[2021-06-07 13:46] #199 closed, assigned to NovaMachina

[2021-06-07 13:46] #203 closed, assigned to NovaMachina

[2021-06-08 02:00] deadspidervenom opened #219 "Ocean/tundra related mobs"
**Is your feature request related to a problem? Please describe.**
Certain items are unable to be easily acquired or acquired at all, a example is drowned loot table.

**Describe the solution you'd like**
Similar to witch water, the ability to make "Witch Water of the Sea" using seawater instead of regular water in the same method to get witch water. The water would act similar to witch water when

[2021-06-11 19:05] remplerus opened #224 "mesh get voided after update + sieve duplication"
**Describe the bug**
A clear and concise description of what the bug is.
After updating Ex Nihilo to latest version (2.0.2.7), existing sieves with meshes voids mesh.
Also if you break those sieves you get the sieve, but not the seen mesh. If you place a sieve, add a mesh and break it, you get the sieve and the mesh, but you also get another sieve. (the last bug also happens, if you make a new wor

[2021-06-11 19:55] remplerus commented on #224
fixed with new version.

[2021-06-11 21:03] #224 closed, assigned to NovaMachina

[2021-06-12 18:34] lazynessmind commented on #80
yeah, that would be great, but in Minecraft, you can't stack items with durability. The only solution that I can think of is:
* if the player wants to play with `enableMeshDurability` the meshes don't stack.
* if the player wants to play with stackable meshes, `enableMeshDurability` is turned off if is turned on.

[2021-06-12 22:04] PatRat621 opened #226 "Certain Rats blocks don't render textures when sieved"
When adding certain blocks from the Rats mod to be sieved, the textures don't render

Steps to reproduce the behavior:
1. Through Craft Tweaker, add cheese/garbage piles from rats to be sievable
2. Attempt to sieve said blocks

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/24396786/121789885

[2021-06-13 03:47] remplerus commented on #216
fixed in next version

[2021-06-13 03:47] #216 closed, assigned to NovaMachina

[2021-06-14 15:59] lazynessmind commented on #226
Hi. This happens when the block registry name isn't the same as the texture, and the sieve uses the registry name to get the texture from the texture atlas.

#### In this case:
| Registry Name | Texture Name |
| - | - |
| rats:block_of_cheese | rats:cheese |
| rats:garbage_pile | rats:garbage_0, rats:garbage_1, rats:garbage_2 ...  |

This is my understanding of the problem, but I'm will research m

[2021-06-19 10:13] #80 closed, assigned to NovaMachina

[2021-06-20 12:00] remplerus opened #229 "TOP and HWYLA dont show everything like they should"
**Describe the bug**
A clear and concise description of what the bug is.
Multiple things dont work:
- Warped and Crimson Crucibles dont show anything, not in TOP and not in HWYLA
- All other Crucibles dont show anything in TOP
- All Sieves dont show Progress in TOP
- In HWYLA you have to right click once to see which mesh is installed in all sieves.

One thing, it just seems to be client sided, be

[2021-06-21 13:23] MarcB25 opened #230 "Config"
How do I edit the sieve config, i looked for a file that would have it but only see the common config

[2021-06-21 13:29] NovaMachina commented on #230
That is the file that you edit.

[2021-06-21 13:29] #230 closed, assigned to nobody

[2021-06-21 13:31] MarcB25 commented on #230
I don't see a place to edit the sieve output

[2021-06-21 14:12] remplerus commented on #230
use datapack or crafttweaker

[2021-06-21 18:15] remplerus commented on #229
as of now, top just works when using EXTENDED config, else you dont see everything probably.
warped and crimson crucibles still dont show anything in hwyla

[2021-06-21 18:18] remplerus commented on #229
as of some whacky coding, speed of wooden crucibles can't be fluids, but on fired they work :/

[2021-06-24 21:33] NovaMachina opened #232 "Test Issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Minecraft Version: 1.1

[2021-06-24 21:35] #232 closed, assigned to NovaMachina

[2021-06-24 21:38] NovaMachina opened #233 "Test Issue"

[2021-06-24 21:43] #233 closed, assigned to nobody

[2021-06-24 21:48] NovaMachina opened #234 "Test Issue"
[AB#6](https://dev.azure.com/novamachina/9b4371f9-393b-4d7d-8cb9-1f6c864e3511/_workitems/edit/6)

[2021-06-24 21:55] #234 closed, assigned to nobody

[2021-06-24 21:56] NovaMachina opened #235 "Test Issue"
[AB#7](https://dev.azure.com/novamachina/9b4371f9-393b-4d7d-8cb9-1f6c864e3511/_workitems/edit/7)

[2021-06-24 21:57] #235 closed, assigned to nobody

[2021-06-27 11:47] EkaPossi opened #240 "Sieve does not exist"
**Describe the bug**
A clear and concise description of what the bug is.
The sieve recipe and item don't exist in my personal modpack. I can still craft the mesh.
**To Reproduce**
Steps to reproduce the behavior:
1. Place block '...'
2. Right click on '...'
3. Do thing '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
Being able to craft a Si

[2021-06-27 12:29] remplerus commented on #240
sieve does exist, just not with the planks as recipe. idk why it didn't changed it back to planks, but as of version 2.0.2.8 you have to use stripped logs

[2021-06-27 12:41] EkaPossi commented on #240
thank you for your helpful tip. Good to know that the sieve exists.

[2021-06-28 13:34] NovaMachina commented on #240
The recipes did not get generated again before the update was pushed out. I'll see what I can do to fix this.

[2021-06-28 23:21] #240 closed, assigned to NovaMachina

[2021-07-04 21:26] lazynessmind opened #242 "Crook not showing as a valid way to get String on JEI"
**Describe the bug**
When looking for string recipes, the crook doesn't appear as a valid recipe.

**To Reproduce**

1. Open JEI
2. Search for **String** and left-click on it.
3. Then you see that the **Crook** doesn't appear as a method to get **String**

**Expected behavior**
Since you can get **String** breaking infested leaves with a **Crook**, it should appear when looking for ways to obtain

[2021-07-16 15:22] truehiddenevil opened #244 "Crash with non default wooden crucible heat rate"
**Describe the bug**
Crash on woodHeatRate =/= 2

**To Reproduce**
Steps to reproduce the behavior:
1. Change woodHeatRate to a number other than 2
2. Attempt to load any world with a wooden crucible in it
3. Minecraft will crash with Error Code 0

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.1.16
Ex Nihilo: Sequentia Version: 1.16-2.0.2.6

see also issue #190
My server error log is pre

[2021-07-16 17:35] remplerus commented on #244
it's already fixed with later versions, try them first before making new issues.

[2021-07-16 17:35] #244 closed, assigned to NovaMachina

[2021-07-21 02:20] Goldenlion5648 opened #246 "Log is spammed with "Unable to resolve texture due to reference chain texture->texture in exnihilosequentia:block/mesh_base""
**Describe the bug**
Console spammed on game startup/ reload

**To Reproduce**
Steps to reproduce the behavior:
1. Start game with ex nihilo sequentia
2. Look at console when game has finished loading

**Expected behavior**
No console spam

**Screenshots**
[22:11:40] [Render thread/WARN] [minecraft/BlockModel]: Unable to resolve texture due to reference chain texture->texture in exnihilosequentia:

[2021-07-21 08:12] remplerus commented on #246
can we have the modlist? it might be something with mods cause i can't reproduce it

[2021-07-21 14:51] Goldenlion5648 commented on #246
Apologies, its a bit long: [mod list](https://gist.github.com/Goldenlion5648/d9f8084b32c1241bd182a6b1c916a2f8)

(about 95 mods) If there is more I can do, let me know

[2021-07-21 20:38] remplerus commented on #246
i found the mod causing this issue.... and its CTM (used for chisel) and idk why this is happening, but im investigating it

[2021-07-21 20:42] remplerus commented on #246
https://github.com/Chisel-Team/ConnectedTexturesMod/issues/149

this seems to be a heavy bug caused by CTM, we can't do anything due to this bug. only thing is disabling ctm and live without chisel or ignoring it...

[2021-07-21 21:01] #229 closed, assigned to NovaMachina

[2021-07-21 21:02] remplerus commented on #226
made a PR for that sieve texture bug, might come before 1.17 version

[2021-07-22 17:46] remplerus commented on #246
i found the problem and made a PR for it

[2021-07-26 14:14] xdelphii opened #250 "Graphical (?) Issue when using Auto Hammers"
**Describe the bug**
Auto hammers/heavy auto hammers causing graphical errors (?) when actively hammering stone. The error includes a large diamond/square around the sun and makes other items flicker between visible/invisible or remain entirely invisible.
It remains functional, but the visual impact is persistent and incompatible with playing (as you can't see things around you, but for their thin

[2021-07-26 14:16] NovaMachina commented on #250
Ex Nihilo: Sequentia does not add the auto hammer. That would be Ex Compressum.

[2021-07-26 14:16] #250 closed, assigned to NovaMachina

[2021-07-26 14:16] remplerus commented on #250
1. autohammer isn't from exnihilo, please make report at excompressum
2. the log spam is a incompat with ctm. a fix from exnihilo will come in the new version.

[2021-07-26 14:20] xdelphii commented on #250
Drat, sorry for wasting your time reporting on the wrong mod @NovaMachina!

[2021-08-02 14:10] gorgan184 opened #253 "Witchwater transformation does not preserve "Major Positive" gossip"
**Describe the bug**
When transformed via WitchWater and then cured, a villager will only have the first tier of discounts. These discounts should stack to five.

**To Reproduce**
infect and cure a villager two or more times, give them a job block and notice the trade price does not properly continue to reduce after the first "Curing"

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.1.62
E

[2021-08-05 18:19] Darkosto opened #254 "Broken Textures When Sieving Custom Added Blocks"
**Describe the bug**
The way it is currently setup, Ex Nihilo is looking for a path for block models. If that mod changes anything, then ex nihilo's textures show as broken. This can be resolved by changing how you get the block model and also ensuring you won't have to update your mod every time another mod changes. This most likely will be necessary to change in the Tcon compatibility mod but ma

[2021-08-05 18:21] remplerus commented on #254
Duplication of #226 but will be fixed in newest Version

[2021-08-05 18:21] #254 closed, assigned to NovaMachina

[2021-08-16 22:15] Darkosto opened #258 "Autoclicker Protection Not Functioning Properly"
**Describe the bug**
Despite not using a macro or an auto-clicker, I am set on fire due to the auto-clicker prevention mechanic. From what I can see, there is no config option to disable this and I feel as if I am being penalized for using the mod correctly (my apologies if this config option exists already and I've missed it). When I sieve, I generally hold the mouse button down. I would attribut

[2021-08-17 15:29] remplerus commented on #258
i'll just leave a comment to my PR i made some months ago with another version of configurable sieve clicks #155

€: I made a config in my newest PR to disable it. (It's enabled by default. Just refresh config file when released)

[2021-08-19 04:12] KnightMiner commented on #201
Please explain. The buckets are just a normal fluid container exposing a fluid handler capability. Why not use the capability system to drain the bucket?

[2021-08-24 23:29] #253 closed, assigned to NovaMachina

[2021-08-26 02:56] #226 closed, assigned to NovaMachina

[2021-08-26 02:56] #242 closed, assigned to NovaMachina

[2021-08-26 02:57] #246 closed, assigned to NovaMachina

[2021-09-13 22:28] Darkosto commented on #258
Any luck on getting this added to the mod? Further testing has shown players getting caught on fire for simply holding the mouse button down when sieving.

[2021-09-13 22:45] Darkosto opened #262 "Graphical Issue When Sieving Blocks"
**Describe the bug**
When Sieving blocks (dust, gravel, sand, etc.) The texture of the block shows through the side of the sieve. This seems to only happen on the South and East side of the sieve blocks. See picture below

**To Reproduce**
Steps to reproduce the behavior:
1. Place down sieve
2. sieve a dust block
3. observe the graphical issue

**Expected behavior**
The block being sieved should n

[2021-09-14 15:17] remplerus commented on #262
argh... i tested it and it hasn't happened :( i'll make pr for it. should be fixed in next version

[2021-09-14 17:14] remplerus commented on #258
hmm.. i might have a solution, but i need your help as i cant reproduce this. I'll upload on my repo a modified version, where you have to edit the config file once generated. there'll be a line called testMakroTime where you can modify the number. i just need to know which number it doesn't burns you (and other players too). first try lowering the number, it shouldnt affect anything besides the t

[2021-09-16 03:53] Darkosto commented on #258
It might also be helpful that this happens on a server. I don't recall it happening in single-player because it's been a while since I've tested in that way.

[2021-09-18 03:36] captinwill commented on #262
hey i cant make an issue but the mod does not make copper an ore I could sieve if i am using tinkers construct

[2021-09-18 03:46] captinwill commented on #262
i cant make a bug report

[2021-10-03 22:04] NovaMachina commented on #258
I've gone ahead and simply removed the part where you get set on fire. Autoclick prevention is still in place.

[2021-10-03 22:13] #258 closed, assigned to NovaMachina

[2021-10-05 20:25] tahg opened #263 "Compost recipes show wrong GUI"
**Describe the bug**
A clear and concise description of what the bug is.
The JEI GUI for Compost is misleading. It shows the crook GUI, when it should be using the generic item <- items GUI.

**To Reproduce**
Steps to reproduce the behavior:
1. Look at any Compost recipe in JEI

**Expected behavior**
A clear and concise description of what you expected to happen.
Compost should use the 4th GUI in

[2021-10-08 19:22] remplerus opened #264 "[1.16] Breaking Stone drops Pebbles"
**Describe the bug**
I can break stone by hand without any tools.

**To Reproduce**
Steps to reproduce the behavior:
1. Place stone
2. break stone
3. get pebbles

**Expected behavior**
get nothing out of stone while breaking with hand.

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.2.8
Ex Nihilo: Sequentia Version: 1.16-20211003171151

**Additional context**
#259 might fix it.

[AB#86](h

[2021-10-09 20:30] remplerus commented on #263
thank you for the bug report. i made a PR for this problem. should be fixed in next version.

[2021-10-09 20:30] remplerus commented on #264
thank you for the bug report. i made a PR for this problem. should be fixed in next version.

[2021-10-09 20:31] remplerus commented on #262
should be fixed with next version

[2021-10-16 22:16] moon-st0ne opened #265 "Campfires don't provide heat to Crucibles"
**Is your feature request related to a problem? Please describe.**
Two sources of fire do not provide any heat to Crucibles. The Shroomlight, which was added after Campfires, does provide heat - this makes me think that Campfires were missed accidentally.

**Describe the solution you'd like**
Campfires and Soul Campfires should provide the same amount of heat as normal/soul fires do. Because that'

[2021-10-16 23:42] remplerus commented on #265
that's true. we might add it to next 1.16.5 release. as a workaround, you can make a datapack and add it yourself.

[2021-10-17 12:01] Xaikii opened #266 "Alternative Composting Output"
**Is your feature request related to a problem? Please describe.**
Currently the Barrel always returns Dirt from Composting. That is generally fine, for Case however I'd like to change it to Coarse Dirt, which I cannot do.

**Describe the solution you'd like**
An option, either in the .toml or via CrT, to change the output of Composting.

**Describe alternatives you've considered**
Haven't found a

[2021-10-17 12:05] remplerus commented on #266
why would you change it to coarse dirt? you can craft coarse dirt by using 2 dirt and 2 gravel, which should be easy to get.

[2021-10-17 12:09] Xaikii commented on #266
I was planning to gate Gravel differently, not by hammering but sieving thus coarse dirt to obtain Gravel

[2021-10-17 12:11] remplerus commented on #266
we might consider making the output available, but for now i don't think we'll change it. as workaround you can remove gravel from hammering and insert coarse dirt instead

[2021-10-17 12:12] Xaikii commented on #266
aight :)

[2021-10-19 13:18] jinkhya commented on #217
Hello,
Any update on this? I know it's only noticeable for people with bad internet but it gets frustrating when you can't visit your friends on server because they have a lot of barrels and crucibles :) I'm myself limiting how many I place at my base so I can keep playing on the server.
If you need me to test anything, I'm all for it, don't hesitate.
Thanks in advance,
Jin

[2021-10-19 13:19] jinkhya commented on #217
(I'm currently playing SkyFactory one and can confirm this issue is still present)

[2021-10-23 14:27] remplerus commented on #217
can confirm it (sadly i dont know how to fix it)
![image](https://user-images.githubusercontent.com/44590574/138560475-753554f7-2960-4a11-9c4f-938bc0f38c98.png)
(picture runs 1089 crucibles on a local server with local client running, all numbers in bytes)

[2021-10-23 19:19] remplerus commented on #217
i actually found the problem, trying to fix it. just takes some time.

[2021-10-23 20:17] jinkhya commented on #217
That's awesome to hear !!! no worries on time, just happy you found what causes this :D thanks for the feedback

[2021-10-27 18:31] Wxrlds opened #272 "Large Fern Seed only plants half the fern"
**Describe the bug**
When you place a large fern seed only half the plant is placed

**To Reproduce**
Steps to reproduce the behavior:
1. Place large fern seed
2. Look at result

**Expected behavior**
Both blocks of the large fern get placed

**Screenshots**
![image](https://user-images.githubusercontent.com/42120270/139125352-cbcb4d8d-d164-4270-b3e0-422bd889620a.png)

**Version**
Minecraft Versio

[2021-10-31 09:26] Bigbeatle opened #274 "Copper ingot"
**Describe the bug**
When creating copper ingot, the item is different (icon and name) as original one in minecraft  for my french version. for other ingot its working Gold ingot = Lingot d'or,  Zinc ingot =barre de zinc etc... except for copper ingot <> lingot de cuivre. to obtain good item I need to split copper ingot and re compact it into lingot de cuivre (see attached picture with the differe

[2021-10-31 12:46] ghost commented on #274
First ingot in your inventory next to gold chunk isn't even gold, its brass
and the reason why its changing texture cause we didn't add any copper nugget in EXN, so its using other mods ones so its overriding the texture to use the one who match the copper ingot(in this case here, create copper ingot)

[2021-11-04 12:59] InstSnipe opened #276 "Feature Request: Create Compatibillity"
I have been trying to use Create mod with ex nihlio and it wouldnt work.

I have seen that enableCreate was listed on the config in the wiki but not when i checked it.

The feature is to enable nuggets from create mod to be obtainable from sieves

[AB#95](https://dev.azure.com/novamachina/9b4371f9-393b-4d7d-8cb9-1f6c864e3511/_workitems/edit/95)

[2021-11-04 13:18] NovaMachina commented on #276
As noted on the CurseForge page, the wiki is out of date. That config does not exist anymore. By default, Create should be detected and copper and zinc ores should be enabled.

[2021-11-04 13:24] InstSnipe commented on #276
I am currently using SkyFactory One Remade
I think i am better off removing thermal which is what conflicts with create
I also am unable to smelt zinc ore chunks

[2021-11-04 13:59] #276 closed, assigned to NovaMachina

[2021-11-05 21:37] #263 closed, assigned to NovaMachina

[2021-11-05 21:37] #265 closed, assigned to NovaMachina

[2021-11-05 21:37] #262 closed, assigned to NovaMachina

[2021-11-05 21:39] #264 closed, assigned to NovaMachina

[2021-11-05 21:39] remplerus commented on #272
added in new version

[2021-11-05 21:39] #272 closed, assigned to NovaMachina

[2021-11-08 08:32] ghost commented on #219
Trident might be a bit overpowered but shell why not
also drowned loot table is only copper & rotten flesh(and experience)

[2021-11-11 21:10] NovaMachina commented on #61
I know this is an old request, but I've updated the Wiki that will hopefully resolve this issue. https://ex-nihilo-sequentia.readthedocs.io/

[2021-11-11 21:10] #61 closed, assigned to NovaMachina

[2021-11-12 14:13] ZEkA10000 opened #280 "Infected Leaves and pickaxe"
I have mods with ores and tools and mod which change tool to max effective to breaking block.
I have hook and pickaxe in hotbar.
When I break Infected leaves that mod changes item to pickaxe which can break faster than hooks but has no drop.

1. Put silkworm into leaves
2. Wait for infect
3. Break 100% Infected leaves with pickaxe

Excepted to long time for breaking by picaxe or item drop.

**Vers

[2021-11-13 19:40] Darkosto opened #281 "Use a Tag or Group System for Heat Sources"
Hello!

Currently, when setting up custom heat sources it's done per block. The end-result is many JEI pages. I would to propose the ability to use tags or a group system to add multiple blocks to a single heat source json file. For example, I have 20 different torch items and I'd like JEI to display this as 1 window rather than listing all 20 out. Having too many pages ends up as bad user experie

[2021-11-21 20:19] NovaMachina commented on #274
This does not appear to be a bug, but rather just a mechanic of the recipe system.

[2021-11-21 20:19] #274 closed, assigned to NovaMachina

[2021-11-23 09:08] metalshark commented on #217
Any clues as to where in the code this is, please?

[2021-11-23 11:25] remplerus commented on #217
https://github.com/NovaMachina-Mods/ExNihiloSequentia/blob/3a512eb1578679e85a8a21f1d7d4b846a7edaa22/src/main/java/novamachina/exnihilosequentia/common/tileentity/crucible/WoodCrucibleTile.java#L78
https://github.com/NovaMachina-Mods/ExNihiloSequentia/blob/3a512eb1578679e85a8a21f1d7d4b846a7edaa22/src/main/java/novamachina/exnihilosequentia/common/tileentity/crucible/FiredCrucibleTile.java#L96
https

[2021-11-23 17:03] metalshark commented on #217
Thanks for that, will play around with something like the following:

[code]

[2021-11-27 17:29] GalaxyOfZero opened #286 "bug by right click with mods bucket"
**Describe the bug**
when right click with a bucket from the mods Forbidden & Arcanus and Wooden buckets on a wooden crucible, turn into an bucket from Minecraft

**To Reproduce**
Steps to reproduce the behavior:
1. Place block ' wooden crucible'
2. Right click on ' Bucket, see describe'
3. Do thing ' turn into Minecraft bucket'

**Expected behavior**
report from modpack
https://github.com/GalaxyO

[2021-11-27 17:52] ghost commented on #286
The Crucible isn't from Ex Nihilo but from ex compressum, which isn't our mod, so please report it to Ex Compressum github

[2021-11-27 17:59] GalaxyOfZero commented on #286
I have also tested it on Ex Nihilo and it is the same bug

[2021-11-28 00:43] NovaMachina commented on #286
I do not believe that this is an issue with Ex Nihilo. The buckets from Frobidden & Arcanus use the default FluidBucketWrapper which uses the Minecraft Forge FluidUtils#getFilledBucket method to determine which bucket to return. Since the fluid being filled is water, the aforementioned method returns the vanilla water bucket. I suspect that the same issue occurs with Wooden Buckets. I believe this

[2021-11-28 01:19] #280 closed, assigned to NovaMachina

[2021-11-28 01:26] #136 closed, assigned to NovaMachina

[2021-11-29 04:40] joe-vettek opened #289 "Break the infected leaves without dropping the string"
I use the latest version, but use crook to break the infected leaves without falling.

[AB#106](https://dev.azure.com/novamachina/9b4371f9-393b-4d7d-8cb9-1f6c864e3511/_workitems/edit/106)

[2021-11-29 04:55] joe-vettek commented on #289
exnihilosequentia-1.16-20211123-032540 works.
exnihilosequentia-1.16-20211128-042122 not.

[2021-11-29 05:05] ghost commented on #289
Use a previous version until we fix the issue

[2021-11-29 05:24] joe-vettek commented on #289
Very pleasantly surprised by the speed of response. Expect it to be repaired！

[2021-11-29 05:27] ghost commented on #289
No problem

[2021-11-30 01:04] #289 closed, assigned to NovaMachina

[2021-12-07 01:52] #217 closed, assigned to NovaMachina

[2021-12-09 07:55] metalshark commented on #217
@jinkhya This should now be addressed with pull request #288.

[2021-12-25 16:07] Quenteez opened #294 "[Visual] No liquid in containers"
**Describe the bug**:
When I put organic matter in a barrel, or rain fills the barrel, there is no texture of liquid / fullness of the barrel.
Exactly the same with the crucible.

**To Reproduce**:
Steps to reproduce the behavior:

1. Put down the barrel
2. Turn on the rain
3. Observe how it remains empty, without water (visually).

- Put down the barrel
- Put organic matter in it for composting
-

[2021-12-26 02:20] remplerus commented on #294
this is not 100% right. this one only happens, if you relog to server or singleplayer. but i can confirm that. trying to fix is asap

[2021-12-26 21:42] Quenteez commented on #294
I didn't quite understand what you meant. But I just created a single world (new), put all the problematic containers, there is also no visual.

But I hope that you will fix it soon, thank you.

[2021-12-26 22:54] remplerus commented on #294
pretty easy. i create a new world, place barrels, crucibles and sieves. put something in them and relog. as long as they have something to do, they should have "visuals". you'll see that on sieves if you dont sieve till the end (the block isn't sieved completly). just relog and that block doesn't update.

[2021-12-27 04:09] Quenteez commented on #294
Ah, I got it, good.  However, when can you fix this "visual" problem?  I am currently developing a SkyBlock server for players on my project, I would really like them to visually distinguish the processes in barrels / crucibles.  It would be convenient, after all.

[2022-01-19 22:33] Quenteez commented on #294
**Amazing! Everything is fixed.**

(version: exnihilosequentia-1.16-20220115-185452)

[2022-01-19 22:33] #294 closed, assigned to NovaMachina

[2022-01-23 19:58] NovaMachina commented on #286
To echo what [Blay said](https://github.com/ModdingForBlockheads/ExCompressum/issues/339#issuecomment-982045835): Ex Nihilo "uses Forge's default fluid handler interaction, this is either an issue in Forbidden & Arcanus or Forge."

[2022-01-23 19:58] #286 closed, assigned to nobody

[2022-01-26 10:40] J0b0w opened #297 "Possibility to customise breakable block with hammer"
Hello,

It's possible to add hammer recipe with datapack, but breakable block list isn't configurable.
ie. : I can add hammer recipe for blackstone, but a can't harvest  blackstone with hammer.

It's possible to add this feature ?

[2022-02-04 13:24] GalaxyOfZero opened #299 "no interacting with bucket from Ceramics"
**Describe the bug**
i can not pick up  Water from the Barrel withe a bucket from Ceramics

**To Reproduce**
Steps to reproduce the behavior:
1. Barrel with water
2. Right click on 'Barrel with a bucklet from Ceramics'
3. Do thing '...'
4. nothing happens

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.2.22
Ex Nihilo: Sequentia Version: 1.16-20220115-185452

[2022-02-04 14:57] NovaMachina commented on #201
@KnightMiner Since this issue has come up again, Ex Nihilo uses the Minecraft Forge FluidUtils#interactWithFluidHandler to interact with buckets. This method does use the capability system.

[2022-02-04 14:57] NovaMachina commented on #299
Duplicate of #201

[2022-02-04 14:57] #299 closed, assigned to NovaMachina

[2022-02-04 17:40] KnightMiner commented on #201
I still don't understand what you mean. Clay buckets use a fluid capability nearly identical to the one forge uses for vanilla buckets. They work perfectly fine with every other mod using fluid capabilities, so something is wrong in this mod. If you are using capabilities they should work.

[2022-02-04 18:14] remplerus commented on #201
actually, i can't find any issues on this. it's working perfect in my environment... running:
Ex Nihilo Sequentia: 1.16-20220115-185452
Ceramics: 1.6.3
Mantle: 1.6.157
Forge: 36.2.2

(I have also tested it with ceramic buckets and wooden buckets, they all get the fluid out of the tanks and can fill them perfectly (besides wooden buckets, they just turn into normal buckets))

[2022-02-04 18:35] remplerus commented on #299
can you give more information on what version of ceramics and mantle you use?

[2022-02-04 18:45] GalaxyOfZero commented on #299
i use Ceramics-1.16.5-1.6.3 and Mantle-1.16.5-1.6.157

[2022-02-04 19:46] GalaxyOfZero commented on #201
so first i test this, and i have the same Problem:
 forge 36.2.22
Ceramics 1.16.5-1.6.3
exnihilosequentia 1.16-20220115-185452
Mantle 1.16.5-1.6.157

and it does not work

[2022-02-04 19:54] remplerus commented on #201
i can only reproduce one thing: insering water from the cermics bucket into a barrel doesn't work. everything else is working like it should.

[2022-02-04 20:34] NovaMachina commented on #201
I am using the FluidUtils class provided by Forge to interact with fluid containers, which a bucket is one. If you go digging in the class it uses the "FLUID_HANDLER_ITEM_CAPABILITY" defined by Forge to get the fluid handler. Is this not the same as what you are talking about?

[2022-02-04 20:44] remplerus commented on #201
one thing i have to mention tho: the water bucket is no "BucketItem", they are normal "Item".
https://github.com/NovaMachina-Mods/ExNihiloSequentia/blob/56146ccca7ee4f069f4499edc1ec864aa9af111e/src/main/java/novamachina/exnihilosequentia/common/tileentity/barrel/mode/FluidsBarrelMode.java#L196 we check here if it is a BucketItem or a bottle. because that bucket is non of them, they can't insert wa

[2022-02-04 21:22] KnightMiner commented on #201
That is the same thing I am am using. That said, the code remplerus linked is likely the problem, because clay buckets do not extend bucket item. Its not a good assumption to make that all fluid containers extend the vanilla class, whole reason capabilities exist so you are not required to do inheritance.

Replace the bucket item check with a check if it has a fluid capability. That is, `stack.get

[2022-02-04 22:14] NovaMachina commented on #201
That's totally fair. I made the assumption that all fluid containers would be buckets. Thanks for pointing that out.

[2022-02-04 22:22] remplerus commented on #201
fixed in #300

[2022-02-04 22:24] #201 closed, assigned to NovaMachina

[2022-03-06 15:42] IchHabeHunger54 opened #302 "Better hitboxes"
**Is your feature request related to a problem? Please describe.**
In Minecraft 1.13 and up, Mojang started to make hitboxes actually resemble the block model - think of how chests used to be full blocks, but are not anymore. Therefore, I'd love to see those kinds of hitboxes arrive in Ex Nihilo as well.

**Describe the solution you'd like**
I think the solution is obvious. The "empty" spaces of a

[2022-03-06 15:43] ghost commented on #302
New models arent in the game yet,hitboxes will be optimized when new models are in the mod

[2022-03-06 15:49] IchHabeHunger54 commented on #302
Ah, alright. I wasn't aware that new models are coming in the first place.

[2022-03-06 15:50] ghost commented on #302
new assets & models are coming soon

[2022-03-07 10:33] gorgan184 opened #303 "ichor dirt recipe fix for exnihilo tinkers"
cant find the right repo. put it here for now...
for 1.16.5
tinkers uses a weird name for fluid magma cream they call it "magma" not "magma_cream" this change will make this recipe work.

exnihilotinkers-1.16-1.0.0.0.jar\data\exnihilotinkers\recipes\tinkers\casting_ichor_slime_dirt.json

[code]

should be

[code]
this is where i got the name from:
[https://github.com/SlimeKnights/TinkersConstruct/

[2022-03-07 11:10] remplerus commented on #303
we already know that, and have fixed it in our repo. we haven't punlished yet because we're adding some new stuff and this needs some testing.

[2022-03-20 21:43] Travis9x opened #306 "Add Draconic Evolution interoperability (1.16)"
**Is your feature request related to a problem? Please describe.**
Not really.

**Describe the solution you'd like**
Similar to 1.14, allow for drops of Draconium dust from sifting crushed netherrack and crushed end stone.

**Describe alternatives you've considered**
I tried to see if there was a way to manually add custom drops/ores to the sieves (such as by editing the config, etc.), but I could

[2022-03-20 22:24] remplerus commented on #306
using datapack is the way to go. you need a mod to load up datapacks that can add your custom recipes for exnihilo (and other mods). looking at this site you can set that up: https://ex-nihilo-sequentia.readthedocs.io/en/1.16/data_pack/

[2022-03-21 01:23] NovaMachina commented on #306
To echo what @remplerus said, you can add sieve drops for Draconic Evolution using either datapacks or CraftTweaker.

[2022-03-21 01:23] #306 closed, assigned to NovaMachina

[2022-03-24 19:57] Travis9x commented on #306
I ended up adding CraftTweaker to my modpack, and using that to add the custom sieve recipes.  However, I would still recommend adding official DE support...ie., possibly some endgame-tier items/machines/equipment utilizing DE resources.  (Draconium hammer?  Draconium mesh?  Draconium crook?  You get the idea... 😉)

[2022-04-05 13:03] LinkTheLinker opened #308 "Keep getting "Autoclicker Bad" message by just holding right click on mouse while sieving"
**Describe the bug**
The bug is that if someone sieves massive amounts of gravel, sand, dust, or any sievable block, the chat gets filled at some point with "Autoclicker Bad" without using an autoclicker, only holding right-click on a mouse. An acquaintance of mine has also experienced this. The worst I've had it was that it activated 10 times, just flooding my chat.

**To Reproduce**
Steps to rep

[2022-04-10 22:55] Lynden-Sylvester commented on #308
I have also been running into this issue.

**Version**
Minecraft Version: 1.16.5
Forge Version: 36.2.21
Ex Nihilo: Sequentia Version: 1.16.20220205-012521

**Additional Context**
I have been developing my own mod pack and everything else works fine except for sieving when I hold down the Right Mouse Button for an extended period of time.

I do not use Macros or auto clickers.

[2022-04-20 04:01] quinn-brittain commented on #43
I am having the same issue. The recipes were working for a short bit on the server originally but now do not appear.

Ex Nihilo: Sequentia Version: 1.16-20220205-012521
Forge Version: 36.2.33
Minecraft Version: 1.16.5

Singleplayer: Diamond Mesh usage
![image](https://user-images.githubusercontent.com/44992697/164147289-cbf949c3-da7e-47a4-9c3e-83b825fbd84c.png)

Multiplayer: Diamond Mesh usage
![i

[2022-04-25 05:28] Ivniinvi commented on #308
Same issue, I have rebound right click to R because I use a trackpad, and just hold the R key. Please give us a config option to disable it on single player, at least.

[2022-05-03 09:17] Not-A-Normal-Robot opened #309 "Add Tinker's Construct support/Add a way to get cobalt"
**Is your feature request related to a problem? Please describe.**
Yes. In my Skyblock world, I am unable to get cobalt in Tinker's Construct. This means:
- No smeltery fluid I/O
- No plate armor
- Some modifiers are unreachable
- No hepatizon/manyullyn/queen's slime

**Describe the solution you'd like**
A new Tinker's Construct addon for Tinker's Construct support that enables you to get cobalt o

[2022-05-03 14:30] Blackout03 commented on #309
https://www.curseforge.com/minecraft/mc-mods/ex-nihilo-sequentia-tinkers-addon

[2022-05-03 19:10] #309 closed, assigned to NovaMachina

[2022-05-06 11:33] Not-A-Normal-Robot opened #310 "Change name of Cobalt Chunk and Cobalt Piece to make it consistent with other ore chunks/pieces"
**Is your feature request related to a problem? Please describe.**
No, I'm just slightly annoyed at this inconsistency.

**Describe the solution you'd like**
Change these item's names:
`Cobalt Chunk` --> `Cobalt Ore Chunk`
`Cobalt Piece` --> `Cobalt Ore Piece`

**Describe alternatives you've considered**
(none)

**Additional context**
![image](https://user-images.githubusercontent.com/76723917/167

[2022-05-06 18:56] remplerus commented on #303
i haven't forgot this. we just decided to release an update for now (with old textures!).

[2022-05-06 18:56] #303 closed, assigned to NovaMachina

[2022-05-06 18:57] remplerus commented on #310
yes, the repo is still private. i hope @NovaMachina can make it public as i can't do it. fixed it in new version. should be live any minute

[2022-05-06 18:57] #310 closed, assigned to NovaMachina

[2022-05-07 15:51] GalaxyOfZero opened #311 "Empty Tag for Forge ores Cobalt ( Tinkers Addon)"
**Describe the bug**
Ex Nihilo: Sequentia - Ex Nihilo: Sequentia - Tinkers Addon
Empty Tag for Forge ores Cobalt and no Cobalt Ore Piece/Chunk in JEI or in the sieve.
it looks like as has Cobalt Piece/Chunk not exists, the Issue page  over cureforge dont work

**Screenshots**
![image](https://user-images.githubusercontent.com/57020876/167261632-7ac25955-50e7-4fad-aab8-0f1eab36808f.png)

**Version*

[2022-05-07 16:14] remplerus commented on #311
what modpack do you use?

[2022-05-07 19:13] remplerus commented on #311
I'll investigate the problem. until then i achieved the update so noone can download it

[2022-05-07 22:56] GalaxyOfZero commented on #311
Your question: what modpack do you use?
A: its my Own modpack call Sky Friends.
i saw a Update for the addon and Crafttweaker say me "recipe does not work"

[2022-05-07 22:57] remplerus commented on #311
yeah, i have fixed it with newest version. it should work now. just give feedback if it worked

[2022-05-07 23:07] GalaxyOfZero commented on #311
yes its work but now all tools a remove :(

[2022-05-07 23:11] remplerus commented on #311
ok, then i'll remove the update completly as it's too game breaking and the updates come with 1.18 update. thanks for testing anyway

[2022-05-07 23:11] #311 closed, assigned to NovaMachina, remplerus

[2022-05-07 23:13] GalaxyOfZero commented on #311
thanks for breaking  1 houer of work, but its good did  the addon  work now

[2022-05-07 23:15] remplerus commented on #311
i already removed the addon, i wont add it back to curse. updates come with 1.18 update

[2022-05-09 21:29] Diagnul commented on #308
I have also run into this issue while hosting a server. Manually holding right click on an area of sieves for a duration can lead to "Autoclicker Bad" messages being spammed to the client. If this feature cannot be tuned to resolve false positives then please provide an option in the mod config to allow disabling this feature in the future.

[2022-05-15 10:15] IHAHAI opened #312 "CraftTweaker: Remove Recipe by Input doesn't work"
The sieve does not have any input, and I just can delete the output of the sieve. Plz add an input of the sieve and that I can delete the input and change the recipe.

[2022-05-15 12:26] remplerus commented on #312
https://ex-nihilo-sequentia.readthedocs.io/en/1.16/crafttweaker/#sieve-recipes

[2022-05-15 12:55] remplerus commented on #312
https://docs.blamejared.com/1.16/en/mods/ExNihiloSequentia/Sieving#removal

[2022-05-16 14:38] friendlyhj commented on #312
I want to remove **by input**.
For example,
`<recipetype:exnihilosequentia:sieve>.removeRecipeByInput(<item:minecraft:gravel>)` to remove all sieve recipes that the input is gravel. (to remove all ore piece outputs)
But your recipe classes don't override `IRecipe#getIngredient`, CraftTweaker thinks your recipes don't have input, so it can't remove anything.
The method you posted is remove **by out

[2022-05-16 19:19] remplerus commented on #312
well, the title isn't that clear, neither is the description. i reopen the issue as i can't resolve that rn

[2022-05-30 06:05] NovaMachina commented on #308
Hi all, not sure how I missed this bug report. I'll work on a fix for this.

[2022-05-30 15:51] #308 closed, assigned to NovaMachina

[2022-05-30 19:59] dBHI-zz opened #313 "Feature Request: Mystical Agriculture Compatibility"
Hello,

could you please add compatibility for Mystical Agriculture? Mainly add Prosperity Shards to Sieves, e.g. for Crushed Endstone.

Best regards and thanks,
dbHI

[2022-05-30 22:42] remplerus opened #314 "[1.18+] Addon Request Clarification and Thread"
We move all requests into discussion thread here: #316
All requests in Issues Tab will be closed without any comment!

Over the past several months, our team has seen many users request addons for various mods. Thanks to the data pack and tag systems put in place by Mojang and the Minecraft Forge team, we do not have to create and addon to be compatible with every mod that exists. We will however

[2022-05-30 22:44] remplerus commented on #313
You can add prosperity shards to sieve using datapack or crafttweaker.
https://ex-nihilo-sequentia.readthedocs.io/en/1.16/crafttweaker/#sieve-recipes and https://ex-nihilo-sequentia.readthedocs.io/en/1.16/data_pack/#sieve
any discussion will go to discord or the pinned issue!

[2022-05-30 22:44] #313 closed, assigned to nobody

[2022-05-30 23:10] Blackout03 commented on #314
Mods where both the conditions match be like:

[2022-05-31 02:02] NovaMachina commented on #314
Also see the Discussion thread: https://github.com/NovaMachina-Mods/ExNihiloSequentia/discussions/316

[2022-05-31 20:05] dBHI-zz opened #317 "CraftTweaker: Mesh type must be uppercase"
Hello,

the CraftTweaker Sieve recipes do not work as written in the docu, the mesh type needs to be written in uppercase letters instead.

Best regards,
dBHI

[2022-06-05 18:56] iLLHunter opened #318 "[BUG] Right clicking stone barrel full of lava with glowstone dust, does not produce End stone"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

stone barrel full of lava, right click holding glowstone dust, does nothing. Does not produce end stone, lava remains in barrel

### Expected Behavior

end stone block produced

### Steps to Reproduce

Place stone barrel
use lava bucket on barrel, barrel is full of lava
select glowstone dust

[2022-06-05 20:02] ElBread3 opened #319 "Crafttweaker: Can't remove sieve recipes 1.18.2"
[The Crafttweaker 1.16 sieve doc](https://docs.blamejared.com/1.16/en/mods/ExNihiloSequentia/Sieving) says you can remove recipes.
Trying to follow that in 1.18.2 (and latest mod version) with:
<recipetype:exnihilosequentia:sieve>.removeRecipe(<item:minecraft:diamond>);
fails with ex_nihilo_recipes.zs:16:0: ex_nihilo_recipes.zs:16:0: No such member: removeRecipe.
Plz fix

[2022-06-05 20:17] NovaMachina commented on #319
You're trying something from 1.16 in 1.18. The versions are not compatible.

[2022-06-05 20:17] #319 closed, assigned to nobody

[2022-06-05 20:18] ElBread3 commented on #319
Well is there a way to remove sieve recipes in 1.18 with crafttweaker?

[2022-06-05 20:32] remplerus commented on #319
https://docs.blamejared.com/1.18/en/vanilla/how_to/crafting_table#removing-a-recipe

[2022-06-16 17:43] TimeheroTH opened #323 "[BUG] <Incompatibility with Bucket Lib>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when i pick up a liquid from an exnihilo barrel the liquids could be taken correctly but when i want to put a liquid from the wooden bucket to the exnihilo barrel doesn't work; the liquid stay stucked in the bucket and don't fill the barrel:

https://github.com/NovaMachina/ExNihiloSequentia/b

[2022-06-20 20:50] TimeheroTH commented on #323
Hi i've downloaded the new version of exnihilo and installed it but continue to not work

[2022-06-27 20:53] oly2o6 opened #325 "Osmium missing exnihilosequentia:pieces tag"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

i guess this is because its not apart of the base exnihilo, just would help alot with people automating using for example a mod with a tag filter for extracting

### Expected Behavior

exnihilosequentia:pieces tag present on the osmium piece

### Steps to Reproduce

_No response_

### Minecra

[2022-06-30 06:06] GamingInfinite opened #326 "[Request] KubeJS Documentation and/or KubeJS custom constructor"
### Is there an existing suggestion for this?

- [X] I have searched the existing suggestions

### Feature Description

Other mods such as the create mod include a constructor directly referencing the recipe type for KubeJS, implemented as:
event.crushing();
My proposal is for similar KubeJS integration here written something like the following:
event.sieving()
and the implemented function would i

[2022-06-30 16:16] GamingInfinite opened #327 "[Request] Usage of Wood Crucible for fluid transformation that can take place in Oak Barrel"
### Is there an existing suggestion for this?

- [X] I have searched the existing suggestions

### Feature Description

This feature is already pre-existing in Ex Nihilo Adscencio (or at least it was added for Skyfactory 3), where you could create clay from water created in an oak or other wooden crucible.

### Provided Benefit

Mainly for when a Skyfactory modpack comes out, it primarily adds an

[2022-06-30 19:01] remplerus commented on #327
as far as i can tell: we won't add clay to ex nihilo. second of all, ex compressum adds that feature (what is used in skyfactory 3). Depends on @NovaMachina if he wants to add that.

[2022-06-30 19:02] NovaMachina commented on #327
By allowing the crucible to have the same functionality as the barrel we remove the need for the barrel. I would rather not do that.

[2022-07-07 15:00] NovaMachina opened #329 "[BUG] CraftTweaker Sieve Recipe Needs to be all upper case"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

CraftTweaker Sieve Recipe Needs to be all upper case

### Expected Behavior

CraftTweaker Sieve Recipe Needs to be all upper case

### Steps to Reproduce

CraftTweaker Sieve Recipe Needs to be all upper case

### Minecraft Version

1.18.2

### Forge Version

NA

### Ex Nihilo: Sequentia Versi

[2022-07-09 15:15] remplerus commented on #317
superseeded by #329

[2022-07-09 15:15] #317 closed, assigned to nobody

[2022-07-09 19:06] #329 closed, assigned to NovaMachina

[2022-07-09 19:07] #327 closed, assigned to NovaMachina

[2022-07-11 02:00] Annon9007723 opened #333 "[BUG] Sieves nonfunctional and ore chunks missing."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Ore chunks are missing and sieves do not function upon attempting to sieve through gravel and such. In JEI pressing U on them doesn't show recipes either.

### Expected Behavior

Upon placing down a sieve and a mesh, you should be able to sift through dirt, gravel, sand, etc. Nothing works. P

[2022-07-11 02:03] NovaMachina commented on #333
Can you please supply a log file with this behavior?

[2022-07-11 02:05] Annon9007723 commented on #333
[latest.log](https://github.com/NovaMachina-Mods/ExNihiloSequentia/files/9080381/latest.log)
Will this do? I saw something in here about "missing ore chunk"

[2022-07-11 02:10] Annon9007723 commented on #333
Slight update, I...might need to look closer at the latest.log there but when using the base mod itself along with the tinkers addon (I was planning to use both on a server) both seem to function fine in a solo instance without the other mods in the way.

[2022-07-11 02:13] NovaMachina commented on #333
Are you using a dedicated server? There are no errors created by Ex Nihilo. The only thing that I'm seeing is that Ex Nihilo Tinkers Addon is missing on the server.

[2022-07-11 02:14] Annon9007723 commented on #333
That was the latest log from the single player one. I tried loading a single player world after testing out in the server, since the server wouldn't boot up when trying to use the tinkers addon with it. Both the single player and server wouldn't have sieves function as intended.

[2022-07-11 02:19] NovaMachina commented on #333
So you created a new world with the Tinkers addon? Or did you copy the server world into a single player world?

[2022-07-11 02:20] Annon9007723 commented on #333
New world that had both the tinkers addon in there as well. The client for some reason works with the tinkers addon installed and the rest of the mods. I say works but I mean that it doesn't crash upon boot.

The sieve is still broken.

[2022-07-11 02:21] Annon9007723 commented on #333
...this looks important. This was in the latest.log file from there.
![image](https://user-images.githubusercontent.com/26782997/178176861-11d9c912-2be1-4ed5-be56-3e41a352ca9d.png)

[2022-07-11 02:31] NovaMachina commented on #333
Can you do me a favor and start up a pack with just the following:

- Ex Nihilo: Sequentia
- Ex Nihilo: Sequetnia - Tinkers Addon
- Mantle
- Tinkers Construct

I don't see any errors on my end so I would just like to make sure that its something outside of Ex Nihilo causing issues.

[2022-07-11 02:31] NovaMachina commented on #333
Also, what launcher are you using?

[2022-07-11 02:38] Annon9007723 commented on #333
MultiMC is what I'm using. As for doing that secondary pack, I did test that already when I mentioned I need to look over the latest.log again. As ExNihilo, and the tinkers addon, along with tinkers itself, don't cause any errors on their own. It's something outside of ex nihilo I think.

[2022-07-11 02:45] NovaMachina commented on #333
So, does everything work as expected when isolating Ex Nihilo and Tinkers?

[2022-07-11 02:47] Annon9007723 commented on #333
When isolated, yes. What needs to be figured out now is what's conflicting with Ex Nihilo and Tinkers. if we can find what's conflicting with Ex Nihilo, that might solve the Tinker's addon for Ex Nihilo.

[2022-07-11 02:55] NovaMachina commented on #333
You may have some luck looking through the errors here: https://mclo.gs/2hA66NP

[2022-07-11 03:00] NovaMachina commented on #333
Try removing Mystical Agriculture. I'm seeing a lot of errors connected to it, especially around recipes.

[2022-07-11 03:02] Annon9007723 commented on #333
Lemme give it a shot.

[2022-07-11 03:08] Annon9007723 commented on #333
Huh...so, that worked. Not even sure what I might need Mystical Agriculture for now. Guess I can remove that. Thanks for the help!

[2022-07-11 03:12] NovaMachina commented on #333
No problem! You may want to take this to Mystical Agriculture so they know about it.

[2022-07-11 03:12] #333 closed, assigned to NovaMachina

[2022-07-11 03:59] Annon9007723 opened #334 "[BUG] Ex Nihilo Tinkers Crash and then some"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently what is happening is that in the server, Ex Nihilo Tinkers addon is causing the server to crash. Client side functions fine, the server is always giving the error.
![image](https://user-images.githubusercontent.com/26782997/178185685-123d76cd-ec46-4290-bc78-759cd3fe5a37.png)
Though

[2022-07-11 04:01] NovaMachina commented on #334
Please provide the log file.

[2022-07-11 04:09] Annon9007723 commented on #334
[latest (1).log](https://github.com/NovaMachina-Mods/ExNihiloSequentia/files/9080841/latest.1.log)
Took me a bit to get it. Sorry about that.

[2022-07-11 04:26] NovaMachina commented on #334
Found the issue and pushed a fix. Should be available shortly.

[2022-07-11 04:26] #334 closed, assigned to NovaMachina

[2022-07-12 07:48] Darmstadtium271 opened #335 "[BUG] Can't Break Infested Leaves"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I use Ex Nihilo and it's tconstruct addon. When I want to break any infested leaves, it doesn't work. I can't break it.

### Expected Behavior

_No response_

### Steps to Reproduce

1. Place any infested leaves.
2. Change to survival mode.
3. Use TConstruct's crook or this mod's crook to bre

[2022-07-12 13:46] NovaMachina commented on #335
I do not see this functionality in my testing. Please supply a log file.

[2022-07-13 14:58] remplerus commented on #326
there's a PR for it. #336

[2022-07-18 20:44] remplerus commented on #326
closed. added with newest version. wiki here: [https://jacob-williams.me/docs/configuration/kubejs](https://jacob-williams.me/docs/configuration/kubejs)

[2022-07-18 20:44] #326 closed, assigned to NovaMachina

[2022-07-18 20:55] remplerus commented on #312
just for my information: does this issue still exists? in 1.16 and 1.18 version?

[2022-07-18 20:57] remplerus commented on #318
just for my information: does this issue still persist with latest version of ex nihilo?

[2022-07-18 20:58] remplerus commented on #323
does the issue still exist?

[2022-07-18 20:59] remplerus commented on #325
do you still have this issue with latest versions of ex nihilo and mekanism addon?

[2022-07-18 21:00] remplerus commented on #335
we still need your log file to resolve this issue or is it resolved?

[2022-07-19 01:39] Darmstadtium271 commented on #335
It's resolved. I think is an another mod's wrong.

[2022-07-19 01:40] Darmstadtium271 commented on #335
So sorry

[2022-07-19 05:33] remplerus commented on #335
If you find out which mod, we can look at compat issues. Until then i close the issue

[2022-07-19 05:33] #335 closed, assigned to NovaMachina

[2022-07-22 12:16] Georg255 opened #337 "Hammering cobble caused crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Created nerd pole of cobble with intent to hammer it all down into gravel, got all the way to the top, whipped out hammer and crash occurred.

### Expected Behavior

I expected to hammer my cobblestone nerd pole into gravel.

### Steps to Reproduce

Create nerd pole, try to hammer cobble, get

[2022-07-22 12:25] wontactcivilized commented on #337
Which mod are you using to veinmine blocks?

[2022-07-22 12:27] remplerus commented on #337
have you changed/added a hammer recipe? to help you more, we need the log file, not just the crash

[2022-07-22 15:00] Georg255 commented on #337
The closest is Serillium's (is that how it's spelled?) Tree Harvester.  Otherwise, no vein miner.

[2022-07-22 15:05] Georg255 commented on #337
[2022-07-21-2.log](https://github.com/NovaMachina-Mods/ExNihiloSequentia/files/9168819/2022-07-21-2.log)

I think this is it.  I reloaded that save and hammering worked normally, so I don't know what happened either.

[2022-07-22 15:06] Georg255 commented on #337
[latest.log](https://github.com/NovaMachina-Mods/ExNihiloSequentia/files/9168829/latest.log)

Just in case, here's the latest one.

[2022-07-22 15:36] Georg255 commented on #337
Also, I haven't changed any hammer recipes.  I only added a sieve recipe to get vinteum dust from sand.

[2022-07-31 08:54] remplerus commented on #323
as far as i have tested it, the issue doesn't exist anymore.

[2022-07-31 08:54] #323 closed, assigned to NovaMachina

[2022-07-31 09:13] cech12 commented on #323
No info needed here: https://github.com/NovaMachina-Mods/ExNihiloSequentia/pull/324 fixed it

[2022-08-13 11:34] BogusAlgorithm opened #340 "Lacking setWaterloged() method in exnihilosequentia.sieve() (KubeJS)"
### Is there an existing suggestion for this?

- [X] I have searched the existing suggestions

### Feature Description

Ability to add custom waterloged recipes through KubeJS scripts.

### Provided Benefit

Additional compatability with KubeJS.

### Additional Context

_No response_

[2022-08-13 11:40] remplerus commented on #340
can confirm that, actually missed that implementation

[2022-08-13 13:44] friendlyhj commented on #312
Sorry for delay, this issue still exists in version `1.16-20220530-185402` and `1.18.2-20220714-011314`.

[2022-08-13 15:03] remplerus commented on #312
we'll won't fix that for 1.16 as we decided to make that last version final. your PR for 1.18 looks promising tho.

[2022-08-14 14:12] enigmaquip opened #342 "[BUG] Only wooden crucibles open heat sources tab in jei"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Only wooden crucibles open heat sources tab in jei

### Expected Behavior

Any Crucible when checking uses in JEI would open the heat sources tab. The fired crucible and the nether variants do not

### Steps to Reproduce

![image](https://user-images.githubusercontent.com/6134440/184540962-4d

[2022-08-14 15:02] remplerus commented on #325
as i can confirm, this issue has been resolved

[2022-08-14 15:02] #325 closed, assigned to NovaMachina

[2022-08-14 15:04] remplerus commented on #297
this feature won't be added to 1.16 version as it is out of forge's LTS. Therefore we won't make this possible for 1.16 version. Closed.

[2022-08-14 15:04] #297 closed, assigned to NovaMachina

[2022-08-19 21:15] KroniQPlayer opened #345 "[BUG] Seives not accepting gravel/sand/dust"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a 3x3 of sieves setup and i created this pack on august 9th, sieveing worked fine, but since update to latest version ExNihiloSequentia-1.18.2-20220818-010806 it wont even accept any resources to even try and sieve. upon investigating further in my logs, the crafttweaker log is saying

[2022-08-19 21:20] #342 closed, assigned to NovaMachina

[2022-08-19 21:24] NovaMachina commented on #345
Based on the CraftTweaker log I'm going to suggest that this is an issue with Ex Compressum conflicting with Ex Nihilo recipe types.

[2022-08-19 21:28] KroniQPlayer commented on #345
that is what I figured, but how do I fix it or do I have to wait for one of the mods to update

[2022-08-20 10:54] remplerus commented on #340
this is fixed in new version by #344

[2022-08-20 10:54] #340 closed, assigned to NovaMachina

[2022-08-20 19:29] Undercoverer opened #346 "[BUG] 1.18.2 mod downloaded from Curseforge doesn't load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I've tried a few different versions, but none of them actually load in to the game. They aren't present in the mods menu and there doesn't seem to be anything wrong in the logs to give any idea of what's going on

### Expected Behavior

The mod to load

### Steps to Reproduce

_No response_

[2022-08-20 19:45] NovaMachina commented on #346
Unfortunately there is not enough information to be able to replicate this issue. It sounds like it may be an issue with PolyMC. I would suggest going to them.

[2022-08-20 19:47] NovaMachina commented on #345
Watching: https://github.com/ModdingForBlockheads/ExCompressum/issues/357

[2022-08-24 19:20] BlayTheNinth commented on #345
Fixed in Ex Compressum

[2022-08-25 18:10] TimeheroTH opened #347 "[BUG] <bucket lib - wooden or ceramic milk bucket doesn't fill up barrel>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If you right click with a milk wooden or ceramic bucket the empy barrel doesn't fill up;
while doing this if  i have a milk wooden or ceramic bucket and the barrel is full of another liquid, the bucket take this liquid and empty the barrel and when i right click the empty barrel the second fl

[2022-08-25 18:44] #345 closed, assigned to NovaMachina

[2022-08-27 06:56] cech12 commented on #347
I fixed the strange behaviour that wooden/ceramic milk buckets could be filled with other fluids in BucketLib 1.18.2-0.5.3.8 and 1.19-1.0.3.1.
As far as I can see, milk cannot be placed in barrels, so this is not an issue.^^

[2022-08-27 17:03] remplerus commented on #347
yep, milk can't be placed in barrels (yet?) I close this and create a discussion on discussion thread.

[2022-08-28 04:45] Angular-Angel opened #351 "[Request] Balance Change: Blackstone and Basalt pebbles should drop from crushed netherrack, not dirt."
### Is there an existing suggestion for this?

- [X] I have searched the existing suggestions

### Feature Description

A simple balance fix. I know in vanilla these are cosmetic blocks and it doesn't matter, but some mods use them to gate stuff behind going to the nether. And dirt already drops too many things, while crushed netherrack drops too few, IMO. Thus, moving these pebble drops to be fro

[2022-08-28 07:09] wontactcivilized commented on #351
Many seeds are planned to be removed due to inventory cluttering, so maybe we can look into rebalancing as well

[2022-08-28 07:10] wontactcivilized commented on #337
Is this issue still occuring?

[2022-08-28 09:24] TimeheroTH commented on #347
Milk could be placed in barrels with a normal minecraft bucket but with ceramic/wooden buckets don't work yet @cech12 @remplerus

[2022-08-28 10:37] remplerus commented on #347
just to be clear: milk does only render, but is no fluid! as far as i have tested it, you can insert any fluid bucket into barrel besides milk. (as it is no fluid)

[2022-08-28 10:50] remplerus commented on #314
closed as pinned and added discussion thread.

[2022-08-28 10:50] #314 closed, assigned to NovaMachina, remplerus

[2022-08-28 10:53] remplerus commented on #351
as we already released the 1.18 version, we consider changing this in 1.19. for 1.18 modpack devs can use datapacks, crafttweaker or kubejs to change the drops.

[2022-08-29 17:23] remplerus commented on #347
i reopen the issue, as it turns out, that it IS possible to place any fluid into the barrel besides milk, when it's inserted by bucket lib buckets...

[2022-08-29 17:30] cech12 commented on #347
The information that another mod enables the Forge milk fluid was missing initially. It will be fixed on BucketLib side. :)

[2022-08-30 06:36] cech12 commented on #347
I fixed the fluid handler of the BucketLib milk buckets when the milk fluid of Forge is enabled. The versions 1.18.2-0.5.3.9 and 1.19-1.0.3.2 of BucketLib contain the changes. Thanks for your report and your help in finding the source of the issue. :)

[2022-08-30 08:14] #347 closed, assigned to NovaMachina

[2022-08-30 08:17] remplerus commented on #337
Update forge to at least 40.1.73 and look, if the issue still exists. until then, i'll close this.

[2022-08-30 08:17] #337 closed, assigned to NovaMachina

[2022-09-06 17:59] gurmiguel opened #353 "[Request] Add "[Sieve] Allow Macro/AutoClicker" config option"
### Is there an existing suggestion for this?

- [X] I have searched the existing suggestions

### Feature Description

Can a flag be added to config to allow Macros/Auto Clicker to sieve, instead of hard blocking it, maybe to a maximum number of clicks.

Affected code: `src/main/java/novamachina/exnihilosequentia/common/blockentity/SieveEntity.java:69`

### Provided Benefit

It is interesting to

[2022-09-06 20:51] OceanRift opened #354 "[VISUAL] <title>1.18.2-20220818-010806 No Dust texture"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I just installed the mod, and I dont have a dust texture in it.

### Expected Behavior

_No response_

### Steps to Reproduce

_No response_

### Minecraft Version

1.18.2

### Forge Version

40.1.16

### Ex Nihilo: Sequentia Version

1.18.2-20220818-010806

### Additional Context

_No respon

[2022-09-06 20:52] OceanRift commented on #354
![image](https://user-images.githubusercontent.com/83827782/188735785-1b0a7dba-6094-45bc-87e2-acff0be61b70.png)

[2022-09-06 23:32] remplerus commented on #354
This isn't an issue from ex nihilo. It's from ResourcesForDays.

[2022-09-06 23:32] #354 closed, assigned to NovaMachina

[2022-09-11 04:17] Angular-Angel opened #355 "Thermal Addon: Blitz, Blizz, and Basalz powders from dust in seive"
### Is there an existing suggestion for this?

- [X] I have searched the existing suggestions

### Feature Description

First off, the thermal addon mod page links to it's github repo for issues - but that repo is archived, so no new issues may be submitted. Hence, I am submitting this issue here.

As for the request at hand, I think the sieve should drop these powders in addition to blaze powder

[2022-09-19 22:18] Tkhakiro opened #356 "Transfer the tools in the crafting book to the appropriate section."
### Is there an existing suggestion for this?

- [X] I have searched the existing suggestions

### Feature Description

I suggest for the convenience of users to move Hooks and Hammers to the tools section, according to the principle of classic minecraft.

### Provided Benefit

![KOk2OeXP](https://user-images.githubusercontent.com/76840584/191129230-944f2117-99fb-4527-8e43-e33100538211.jpg)

### A

[2022-09-21 12:18] HalJordan opened #357 "[Request] Allow third party pack launchers"
### Is there an existing suggestion for this?

- [X] I have searched the existing suggestions

### Feature Description

What reason could you possibly have for blocking this? Certainly it's not the default and you forgot?

### Provided Benefit

Less headache when trying to play popular packs

### Additional Context

_No response_

[2022-09-23 11:38] AlfredoPorfaverta commented on #357
Please allow this. Im trying to make a modded server with this mod but I can't since it doesn't allow third party things

[2022-09-26 08:34] pnieuwkamp opened #358 "[BUG] Barrel making sea water instead of witch water"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm playing All The Mods 7 To The Sky. I made a 9x9 patch of mycelium, and placed a bunch of barrels on it. It started to rain, the barrels filled up, and most of them transformed to witch water. A few however, transformed to sea water.

Clicking the witch water with sand gave me soul sand, t

[2022-09-26 12:32] NovaMachina commented on #358
Please take this to the ATM team first.

[2022-09-26 18:51] pnieuwkamp commented on #358
I could, but I doubt that will help as I tested some more and I can recreate that with just vanilla MC, Forge and ExNS (using MultiMC). It happens when I rightclick a barrel with sand while the barrel is only partially filled on mycelium or with any amount of water in it (including full) when not placed on mycelium (or probably sand; haven't tried that yet).

New steps to reproduce:
Pace mycelium

[2022-09-29 01:12] adamkad1 opened #359 "[Request] Add compability tags please."
### Is there an existing suggestion for this?

- [X] I have searched the existing suggestions

### Feature Description

I know there are compability mods that havent been updated to 1.19 yet but with proper tags they probably wouldnt be neccesary.

### Provided Benefit

Proper tags would make extra mods unnecessary. (though to be honest, the ores that are useless without other mods should just be

[2022-09-29 08:53] remplerus commented on #358
this is true, we never check in this method if the amount is full, so you can make fluids with less fuild amount than it should. so this is duping on next level D:
will make PR with some minor changes later

[2022-09-29 08:57] remplerus commented on #359
can confirm, this line has nothing to create those tags. in 1.18 they exist: https://github.com/NovaMachina-Mods/ExNihiloSequentia/blob/017fe5bff9e1960966e066a9fa6e8a71e3df823d/src/datagen/main/java/novamachina/exnihilosequentia/api/datagen/AbstractItemTagGenerator.java#L52

[2022-09-30 15:48] Blackbird-Modder commented on #353
This feature would be absolutely amazing to have. I will look into the folders and see if I find anything. If I do i'll reply with a solution.

[2022-09-30 22:27] Blackbird-Modder commented on #154
Well the conversation got locked on #155 so basically what I meant was that I want to change the cap on 1.16.5 ( sky bees ). What's the solution for this version? Cause i've been looking around github and can't really find a working solution.